[2017-09-04 12:13] cptn-solo opened #1 "Формулировка концепции блокчейна u-transnet"
Сеть u-transnet представляет собой систему "программно-аппаратный комплекс", состоящую из собственно транспортной сети и ПО, обеспечивающего управление финансовыми и материальными потоками, сопровождающими функционирование системы.
В рамках работ по текущей задаче предполагается ответить на вопросы:
1. Роль блокчейна u-transnet в экосистеме транспортной сети;
2. Сценарии использования блокчейна в

[2017-09-04 13:21] kkrupovich commented on #1
диаграммы будут [тут](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Funity_concept.xml)

[2017-09-05 09:39] cptn-solo opened #2 "Формулировка алгоритма и характеристик процедуры распределения токена"
Можно проанализировать процедуру форка основных цепей (steemit -> golos, bitcoin -> bitcoin cash), а так же алгоритмов востребования токенов (claim) после события форка.
Также рассматриваем варианты ввода в обращение базового актива и в целом - взаимодействие между участниками в процессе формирования Сети

[2017-09-05 18:16] cptn-solo commented on #1
Необходимо оценить возможность создания _большого_ количества учетных записей - по сути, УЗ должна быть у каждого сенсора, каждой единицы подвижного состава и каждой станции (это только с учетом текущих представлений об архитектуре сети). Возможно, под анализ возможности надо даже создать отдельную задачу, но лучше предварительно собрать несколько подобных вопросов и понять - какие вообще метрики

[2017-09-11 22:52] cptn-solo opened #3 "Выход в блогосферу (и криптосферу) и социальные сети"
Для начала можно, например, заполнить профиль в у гитхаб-организации [u-transnet](https://github.com/organizations/u-transnet/settings/profile)

[2017-09-25 19:19] cptn-solo opened #4 "Иллюстративный материал, общая задача + частные по каждой иллюстрации/врезке"
Создаем задачи под врезки и иллюстрации.
Исходный документ пока [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit#heading=h.lh6n5a1simua), т.к. важно удобство комментирования и совместной работы. Потом переедет в wiki

@alecvert @iSergeevich коллеги, в этой задаче я в комментариях буду собирать места в исходном документе, для которых _уже понятна_ концепция

[2017-09-25 19:53] cptn-solo commented on #4
Вставить в створ абзаца иллюстрацию "Реальная путевая структура, переходящая в цифровую"
Коммент в исходнике [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQBM).
#5

[2017-09-25 19:57] cptn-solo commented on #4
Вставить в створ абзаца поясняющую диаграму:
общее пространство, внутри линии с кружками станций и "движущиеся" кружки подвижного состава. Можно добавить стиль из digitize with unity и изобразить передачу информации по путевой структуре (подводка к след. абзацу)
Коммент в исходнике [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQBQ)
#6

[2017-09-25 20:00] cptn-solo commented on #4
Поясняющая диаграма - фрагмент континента увеличен на фоне земного шара, покрытого схематичной паутиной путевой структуры. На увеличенном фрагменте - кружки подвижного состава "пересылают" токены станциям и путевой структуре. Путевая структура "подсвечивает" проложенный маршрут, выводя в выноске цифры объемов зарезервированных на маршрут ресурсов и каждая цифра снабжена пересчитанным в UTT значени

[2017-09-25 20:01] cptn-solo commented on #4
Этот абзац как раз можно проиллюстрировать "картой стратегического планирования инвестиций" - с зелеными, желтыми, красными областями
Коммент в исходнике [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQBc)
#8

[2017-09-25 20:02] cptn-solo commented on #4
Поясняющая диаграма - иерархическая структура затрат с балансами инфраструктурных активов
Коммент в исходнике [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQBg)
#9

[2017-09-25 20:04] cptn-solo commented on #4
Как это проиллюстрировать я не знаю. Вертится что-то простое, типа стопка монет, потраченных на аудит ДО и "открытая книга" ПОСЛЕ
Alec Vert
7:30 Сегодня
Иконка монет справа и иконка инструментов, стройки слева , иконки папок документации справа и типа соединяются все ок , палец вверх или successful или agreed
Весь коммент и обсуждение пока [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByE

[2017-09-25 20:05] cptn-solo commented on #4
Тут нужно что-то про сертификацию - штамп, сургучная печать, ОТК
[тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSVs9Ns)

[2017-09-25 20:06] cptn-solo commented on #4
три разных типа "вагончиков" - три разных "тарифа" и станция, в которую входит три "маленьких", две "средних" и одна "большая" вагонетка
[тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQCo)

[2017-09-25 20:07] cptn-solo commented on #4
краудфанд - толпа вкладчиков, представляющих разные социальные слои.
[тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSM0e_Q)

[2017-09-25 20:07] cptn-solo commented on #4
"локальные" пространства, светящиеся огнями (функционирующие) и трещина в земной коре, разделяющая их
[тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSM0e_U)

[2017-09-25 20:17] cptn-solo opened #5 "Иллюстрация: Реальная путевая структура, переходящая в цифровую"
Вставить в створ абзаца иллюстрацию "Реальная путевая структура, переходящая в цифровую"
Коммент в исходнике [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQBM).

[2017-09-25 20:24] cptn-solo opened #6 "Иллюстрация: Схематично - Физическая структура TRANSNET"
Вставить в створ абзаца поясняющую диаграму:
общее пространство, внутри линии с кружками станций и "движущиеся" кружки подвижного состава. Можно добавить стиль из digitize with unity и изобразить передачу информации по путевой структуре (подводка к след. абзацу)
Коммент в исходнике [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQBQ)

[2017-09-25 20:28] cptn-solo commented on #6
Это схематичная (адаптированная, вид "сверху", абстрактно) переработка  А0 на листе CONCEPT в [книге схем и диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Funity_concept.xml)

<img width="701" alt="screen shot 2017-09-25 at 23 26 36" src="https://user-images.githubusercontent.com/1105555/30829350-3903634a-a249-11e7-98a3-d46ebdc1f433.png">

[2017-09-25 20:31] cptn-solo opened #7 "Иллюстрация: "Подсвеченный маршрут" на путевой структуре"
Поясняющая диаграма - фрагмент континента увеличен на фоне земного шара, покрытого схематичной паутиной путевой структуры. На увеличенном фрагменте - кружки подвижного состава "пересылают" токены станциям и путевой структуре. Путевая структура "подсвечивает" проложенный маршрут, выводя в выноске цифры объемов зарезервированных на маршрут ресурсов и каждая цифра снабжена пересчитанным в UTT значени

[2017-09-25 20:34] cptn-solo opened #8 "Иллюстрация: "Command & Conquer" - карта с областями нагрузок"
Этот абзац как раз можно проиллюстрировать "картой стратегического планирования инвестиций" - с зелеными, желтыми, красными областями
Коммент в исходнике [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQBc)

[2017-09-25 20:37] cptn-solo commented on #7
Это лист CONCEPT [книги диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Funity_concept.xml), нечто, схематично изображающее А1+А2

[2017-09-25 21:07] cptn-solo opened #9 "Иллюстрация: иерархия затрат, складывающихся в токен адресного проекта"
Поясняющая диаграма - иерархическая структура затрат с балансами инфраструктурных активов
Коммент в исходнике [тут](https://docs.google.com/document/d/1BNSpJDJ44YF01ByEYk9a3-lKQGOIMAX7YxCT9VAX0Ro/edit?disco=AAAABSMHQBg)

[2017-09-25 21:14] cptn-solo commented on #9
Возможно, в качестве основы подойдет диаграмма F0 из [книги диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Funity_concept.xml)

<img width="656" alt="screen shot 2017-09-26 at 00 12 00" src="https://user-images.githubusercontent.com/1105555/30831308-a48ffeec-a24f-11e7-8282-164457148e1c.png">

[2017-09-27 17:58] cptn-solo commented on #4
Иллюстрация: что-то про автономную транспортную систему, двоичный код (нолики и единицы) управляющий движением составов на карте-схеме ветвящихся транспортных путей. При этом важно как-то показать "экономическую составляющу" взаимодействия - т.е. эти нолики и единицы - это не только управляющие команды, но и экономические транзакции, сопровождающие перемещение ресурсов.
коммент в исходнике [тут](h

[2017-09-27 18:56] cptn-solo opened #10 "Иллюстрация: автономная транспортная система, двоичный код"
Иллюстрация: что-то про автономную транспортную систему, двоичный код (нолики и единицы) управляющий движением составов на карте-схеме ветвящихся транспортных путей. При этом важно как-то показать "экономическую составляющу" взаимодействия - т.е. эти нолики и единицы - это не только управляющие команды, но и экономические транзакции, сопровождающие перемещение ресурсов.
[тут](https://docs.google.c

[2017-09-27 20:59] iSergeevich commented on #6
![scheme2](https://user-images.githubusercontent.com/31988874/30937594-b7aa426a-a3f0-11e7-89d8-2ce781e3705f.png)

[2017-09-27 21:11] cptn-solo opened #11 "Логотип Coin"
Исходный вариант был примерно таким:
![logo-digitize-round-3d](https://user-images.githubusercontent.com/1105555/30825080-6887dfba-a23a-11e7-8a23-fbd7fcd07ae8.jpg)

[2017-09-27 21:20] iSergeevich commented on #11
![logo5](https://user-images.githubusercontent.com/31988874/30938406-575bdd30-a3f3-11e7-80f7-abf76bcc33f6.png)
новые наработки по логотипу
![default](https://user-images.githubusercontent.com/31988874/30938421-69073278-a3f3-11e7-949e-0fe3b8049da2.png) вот этот например для коина, есть символьно обозначенная планета, есть сеть сверху цифровая. оч круто будет на монетке смотреться

[2017-09-27 21:32] cptn-solo commented on #11
но вот если совсем честно, то больше всего меня зацепил вариант:
<img width="121" alt="screen shot 2017-09-28 at 00 32 11" src="https://user-images.githubusercontent.com/1105555/30938955-90affa6c-a3e4-11e7-8ce1-cfad84c94a75.png">

@alecvert что скажешь?

[2017-09-27 21:33] iSergeevich commented on #11
![coin](https://user-images.githubusercontent.com/31988874/30938991-6d40fcf0-a3f5-11e7-88e7-fb834e2279b6.jpg)
монетки!

[2017-09-27 21:36] cptn-solo commented on #11
по монеткам - мне больше нравится правая, но я бы "токопроводящие дорожки" добавил на геометрию букв пересекающихся, вот буквально слегка. не перегрузить

[2017-09-27 21:38] iSergeevich commented on #6
![scheme4](https://user-images.githubusercontent.com/31988874/30939212-201b04d8-a3f6-11e7-9421-65d5a22109a4.png)
увеличенная

[2017-09-28 17:21] iSergeevich commented on #5
эскиз
![img_20170928_221946](https://user-images.githubusercontent.com/31988874/30980709-6593fe48-a49b-11e7-97ba-cdfa7ada80e8.jpg)

[2017-09-28 18:58] iSergeevich commented on #7
![img_20170928_234803](https://user-images.githubusercontent.com/31988874/30985153-e2658fc4-a4a8-11e7-841b-77ed250d4405.jpg)
первый вариант плоский, карта мира и вычлененный кусок из нее с подробныой схемой

[2017-09-28 19:00] iSergeevich commented on #7
![img_20170928_234822](https://user-images.githubusercontent.com/31988874/30985182-fa32bd70-a4a8-11e7-9b18-a56818d2339b.jpg)
второй вариант. считаю оптимальный. глобус с схематическими точками между пунктами с   выносками объема . без вычленения. так нагляднее сразу все видно

[2017-09-28 19:01] cptn-solo commented on #5
@iSergeevich это норм идея в том смысле, что реальная слева, цифровая справа (даже про "наши койны" хорошая мысль, хоть ты и немного не правильно интерпретировал нашу идею койна ;), но ИМХО это немного глубже, чем нам надо для иллюстрации. Имелась ввиду ваша с @alecvert концепция "оцифровки", которую ты реализовал в прототипе лого с буквой U - половина реальная, половина "проволочная".
Можешь попр

[2017-09-28 19:03] iSergeevich commented on #7
цифры просто из головы. понятия не имею какая численность. просто примера ради. в схемах будет упор н алайн арт как и во всем ином. либо флэтарт это тот же лайн арт но при этом есть фоновая подложка

[2017-09-28 19:05] iSergeevich commented on #5
да смогу. завтра

[2017-09-28 19:15] cptn-solo commented on #7
Действительно, глобус выглядит интереснее карты, но это надо рисовать и смотреть как получается.
Только одно замечание - между кружками ходит не койн U, а внутренний Ресурсный токен (ресурсный актив в Концепции). Это важно. Именно Ресурсный актив (например, "R") с ВЫНОСКОЙ в изображение БИРЖЕВОГО ГРАФИКА.
Дело в том, что пространство TRANSNET имеет внутреннюю биржу ресурсных активов, и в каждый мо

[2017-09-28 19:20] iSergeevich commented on #7
сорри. не настолько подкован в этом смысле. завтра покажу картинку. она почти готова. спать хочу не могу. поэтому завтра закончу. насчет буквы R понял. не вопрос

[2017-09-28 19:22] iSergeevich commented on #11
так... а может стоит сделать U и R в виде монеток. допустим разного оттенка но написание одно. завтра покажу. понеслась)))

[2017-09-29 04:38] iSergeevich commented on #7
вот что-то типо этого я хотел показать
![default](https://user-images.githubusercontent.com/31988874/31001025-e96fa4fc-a4f9-11e7-8191-ecc7a132caf8.png)

[2017-09-29 04:39] iSergeevich commented on #7
разумеется все точки совпадут и добавятся токены. это лишь цифровой скетч

[2017-09-29 10:36] cptn-solo commented on #7
глобус мне, безусловно нравится. это прям отличный пример. но это только визуальное совпадение с тем, что я думал получить. Надо объединить это визуальное представление с нашей концепцией. и еще - если мы решили делать "проволоку" в иллюстрациях - придется и глобус этот шикарный тоже превратить в проволоку. Ну, либо все иллюстрации уже делать rich graphics

[2017-09-29 18:35] iSergeevich commented on #11
![coin](https://user-images.githubusercontent.com/31988874/31030442-d316b2ca-a56e-11e7-8921-8276dc6a5eb6.jpg)
вариант монеток один

[2017-09-29 18:35] iSergeevich commented on #11
вариант два
![coin 2](https://user-images.githubusercontent.com/31988874/31030462-e29b5110-a56e-11e7-8a38-89a8fc491e28.jpg)

[2017-09-29 18:36] iSergeevich commented on #7
![2](https://user-images.githubusercontent.com/31988874/31030503-0456ea62-a56f-11e7-9e22-3dec19a5d6e9.png)
более плоский вариант так же на схеме есть монетка с символом R

[2017-09-29 19:05] iSergeevich commented on #11
![r1 coin](https://user-images.githubusercontent.com/31988874/31031753-04dc05fe-a573-11e7-9daa-29f4ac872cef.png)
![r2 coin](https://user-images.githubusercontent.com/31988874/31031754-04de8270-a573-11e7-99f4-b0d2eb0ee450.png)
![u1 coin](https://user-images.githubusercontent.com/31988874/31031755-04e0bbd0-a573-11e7-8b2f-600bd2957087.png)
![u2 coin](https://user-images.githubusercontent.com/31988874

[2017-09-29 22:17] cptn-solo commented on #11
Обсудили с @alecvert всю линию логотипа, пришли к согласию о том, что надо продолжать развивать идею двух букв U перпендикулярно вложенным друг в друга, для однозначности ниже привожу варианты, которые берем за основу:

<img width="201" alt="screen shot 2017-09-30 at 01 19 54" src="https://user-images.githubusercontent.com/1105555/31038097-882714ee-a57d-11e7-9c73-dbc4f36b0c59.png">
<img width="200

[2017-09-29 22:36] cptn-solo commented on #7
Последняя картинка очень неплохая по стилю и вообще - атмосфере. Надо только держать в уме:

1. если у нас одна иллюстрация будет в таком стиле - остальные прийдется делать такими же. Не уверен, что это быстрый (и вообще возможный) путь - если эта картинка часть какого-то клипарта - найдутся ли аналогичные для всех остальных иллюстраций? Если @iSergeevich  ты готов отрисовать остальные иллюстрации

[2017-09-29 23:37] cptn-solo commented on #7
Решил попробовать порисовать, скетч в draw.io это ужас, конечно, но другого под рукой не было ничего:

<img width="364" alt="screen shot 2017-09-30 at 02 52 27" src="https://user-images.githubusercontent.com/1105555/31039912-76963482-a58a-11e7-8adc-f185f437a882.png">

@iSergeevich обрати внимание - тема "токена R" - это просто обозначение (перечисление) - каких ресурсов (A,B,..Z) и в каком количес

[2017-10-02 03:32] iSergeevich commented on #11
![u3 coin](https://user-images.githubusercontent.com/31988874/31063406-0989e212-a74c-11e7-9ae7-be4aebf54545.png)

[2017-10-02 04:33] iSergeevich commented on #10
![default](https://user-images.githubusercontent.com/31988874/31064345-b344aa5a-a754-11e7-8549-7e760fb97152.png) собственно поехали!

[2017-10-02 04:34] iSergeevich commented on #8
![default](https://user-images.githubusercontent.com/31988874/31064353-ced0a9ea-a754-11e7-965b-a5e4eda95cff.png) что-то вот такое лезет

[2017-10-02 04:35] iSergeevich commented on #10
чтобы все увзреть - смотри максимальное разрешение

[2017-10-02 04:52] iSergeevich commented on #11
![u4 coin](https://user-images.githubusercontent.com/31988874/31064600-5b5633ce-a757-11e7-8fdd-06885f8955cd.png)

[2017-10-02 04:52] iSergeevich commented on #11
я бы вот наверное взял 1 или 3 из этих. имхо

[2017-10-02 06:53] cptn-solo commented on #11
@alecvert @iSergeevich коллеги, "свежее впечатление" - вау! Это уже абсолютно точно "кое что".
Сейчас распишу все что я думаю по каждой из 6ти

Практически идеальный вариант, ИМХО. Можно брать за основу. Если у @alecvert нет возражений. Но, я так понимаю, это "вариант использования" - т.е. в каких-то документах мы будем использовать один вариант, в каких-то другой, так?

Это практически идентичный

[2017-10-02 06:57] cptn-solo commented on #8
слушай, эта карта с выносками под стратегическое планирование неплохо кстати подойдет, не забрасывай ее. только область под точкой с красной выноской закрасить красным (европу), с желтой - желтым и т.д.
И действительно - сейчас вижу, что напрашивается какой-то ряд цифр на каждую выноску, давай может добавим что-то подобное моим колонкам цифр со скетча из #7 ? Там ведь тоже идет выноска, упирающаяс

[2017-10-02 07:08] cptn-solo commented on #10
Шикарное начало.
Находки, которые я вижу прямо сейчас, и которые надо оставить:
1. бинарный код (1000010010) у стрелок - это точная аналогия, т.к. информация передается по стрелкам, и она - в двоичном виде.
2. кошелек с ютом и смартфоны с ютом - это норм. надо развивать.
3. общая стилистика этой диаграммы тоже хороша.

Общие замечания:
1. сервера неплохие, но не совсем понятна их роль на диаграмме

[2017-10-02 17:30] iSergeevich commented on #11
да вы задрот, Батенька)))
в первые вижу настолько подробный коммент клиента, и знаешь это круто!

[2017-10-02 17:39] iSergeevich commented on #11
извини, а что ты понимаешь под выколотыми точками? не закрашенными? или что

[2017-10-02 17:44] iSergeevich commented on #10
1. сервера - место где происходит майниг верно?
ну вот я показал это правда не знал уместно или нет.

2. поясняю:
1 это случайность, не убрал значек
2 это круговорот крипты
3 это остановка (станция)
4 это блокчейн, ну я его так вижу, тоже не знаю уместно тут или нет

[2017-10-02 17:45] iSergeevich commented on #8
принял

[2017-10-02 19:44] cptn-solo commented on #10
Принял. Сформулирую ответы и корректировки твоего мировоззрения чуть позже :)

[2017-10-02 19:46] cptn-solo commented on #11
А на что тебе гугл?! поискал бы :) и вообще, у меня вот после школы и института почему-то терминология осталась, а у тебя почему-то нет. Школу закончил? ;)
![vykolotayatochka](https://user-images.githubusercontent.com/1105555/31095917-1b263ba2-a7c3-11e7-9ff1-658e9e57b12a.png)

[2017-10-02 19:53] iSergeevich commented on #10
гран мерси!

[2017-10-02 19:55] iSergeevich commented on #11
да я уже см посмотрел)
кстати я скорее показывая 2 картинки по 3 варианта имел ввиду 2 вариант с 3 типами. потому что 33 разных подвида это тоже не верно. нужно 1 вид для документов. 1 вид для монетки. 1 вид для печати или еще чего то. и хватит. иначе путаница пойдет. согласен?

[2017-10-02 20:08] iSergeevich commented on #11
![u5 coin](https://user-images.githubusercontent.com/31988874/31097035-652f7312-a7d7-11e7-9389-e854583df842.png)

[2017-10-03 05:02] alecvert commented on #11
Ваня, уже близко к результату.

Слева http://prntscr.com/gsl00o забыл поставить хаотично расположенные маленькие точки, символизирующие подвижные составы

По середине органичный вариант мне кажется, достаточно круто.

Справа с зелёными точками тоже.

А что если где точки сделать пунктиром или чуть дрожащими линиями либо в этом стиле http://prntscr.com/gsl2cq ( кстати подобный бэкграунд где-то на с

[2017-10-03 14:51] cptn-solo commented on #11
<img width="234" alt="screen shot 2017-10-03 at 17 52 39" src="https://user-images.githubusercontent.com/1105555/31131778-c7312cea-a863-11e7-9502-8d36cd75d744.png">

Вот это - токопроводящие дорожки. А у нас этого не видно, к сож. Немного есть эффект на левой монетке - но и то за счет контраста между залитой буквой и "проволочной".

По правой картинке - все отлично, но я бы убрал зеленый цвет с то

[2017-10-03 16:50] iSergeevich commented on #11
нука щас попробую. понял тебя или инет

[2017-10-04 08:13] cptn-solo commented on #10
В общем, так:
1. Кошелек с монетками надо оставить только там, где "человек" входит в "станцию" - это важно, т.к. базовый актив транснет используется только для расчетов за услуги Сети (и для инвестиций, но они здесь за скобками у нас остаются).
2. серверы, управляющие траффиком, действительно делают это "в двоичном коде", это норм. Но они не оперируют Юттом, т.ч. монетки оттуда надо убрать.
3. бл

[2017-10-04 14:27] iSergeevich commented on #11
![u6 coin](https://user-images.githubusercontent.com/31988874/31181178-18b50010-a93a-11e7-8109-6a8d068c679a.png)
так. я доделал дорожки

[2017-10-04 14:29] iSergeevich commented on #11
![u6 coin](https://user-images.githubusercontent.com/31988874/31181210-35c482de-a93a-11e7-80ed-9a5f10085f07.png)
в верхнем и нижнем рисунках два нижних коина имеют полупрозрачную заливку цифровой буквы U

[2017-10-04 17:10] alecvert commented on #11
Не то, Ваня. Стало хуже на мой взгляд.

Если уж и делать в этом стиле, то типа этого и в неоне: http://prntscr.com/gt9c7r

Но есть и положительная сторона. http://prntscr.com/gt95rf вот здесь если не считать наполнения прозрачной буквы U микросхемами , неплохо смотрится с градиентом, только кругляшки тогда тоже должны быть в этом стиле .

Синий и красный не то.

Надо придумать другой концепт оцифр

[2017-10-04 18:42] iSergeevich commented on #11
![coins3](https://user-images.githubusercontent.com/31988874/31193498-b394deb6-a95d-11e7-918b-9f8c3f7fdfaf.png)

[2017-10-04 18:53] iSergeevich commented on #11
насчет дрожи и эффектов глитч - это уже конструктивный перебор

[2017-10-04 19:06] iSergeevich commented on #11
![coins3](https://user-images.githubusercontent.com/31988874/31194587-0b2d6988-a961-11e7-93ea-311d36dd7b55.png)

[2017-10-04 19:07] iSergeevich commented on #11
1,2,6 мое мнение

[2017-10-04 21:15] iSergeevich commented on #10
![2](https://user-images.githubusercontent.com/31988874/31200116-1cdba4ee-a973-11e7-9c37-c7a28e3ab96d.png)

[2017-10-04 21:16] iSergeevich commented on #10
выноски с цифро-значениями просто для примера

[2017-10-04 21:18] iSergeevich commented on #10
![3](https://user-images.githubusercontent.com/31988874/31200196-6b3a60e4-a973-11e7-9241-27c6305e00ad.png) и вариант с двоичным кодом

[2017-10-05 05:20] alecvert commented on #11
1. В цвете круто будет смотреться да вот 1, 2-й на уменьшении в иконку будет сливаться для глаза. но надо доработать, так как при увеличении на ролап допустим смотрится немного кустарно. http://prntscr.com/gtg9v4 может геометрию сделать более нечёткую как здесь http://prntscr.com/gtgfn , http://prntscr.com/gtgabu.  То есть не просто вставлять очерченные края и грани, а детализировать прямо, прорис

[2017-10-05 06:12] iSergeevich commented on #11
Окей 👌 но слишком всего на одной картинке, градиент металла, свечение, разные цвета, сетка... Глаз не радуется, он вытекает от такого количества всего и сразу, моё мнение нужно упрощать

[2017-10-05 09:06] cptn-solo commented on #10
последний вариант отличный, прикладываю только принципиальную схему взаимодействия, чтобы проиллюстрировать свои предыдущие комментарии
<img width="724" alt="screen shot 2017-10-05 at 12 01 00" src="https://user-images.githubusercontent.com/1105555/31219140-12c39172-a9c5-11e7-8b49-daadb45ee3ed.png">

бочки - это серверы - база данных, блокчейн в общем случае.
ромб - это вагонетка, на моих диаграмм

[2017-10-05 09:16] cptn-solo commented on #11
Я так подробно, как @alecvert  не распишу, но мне нравятся 1, 2 и последние 2 (монохром) - но физической U, Леша прав - надо немного пожирнее границу, вот в два (три) раза толще, не больше. И хорошая идея про заливки, которыми на монохроме будут развлекаться энтузиасты и "региональные клубы" (флаги, например, свои лепить).
А, еще про градиент на физике я не уверен. Мне кажется норм текущий вариант

[2017-10-05 12:02] iSergeevich commented on #9
![default](https://user-images.githubusercontent.com/31988874/31226244-d66fc982-a9ee-11e7-92b1-6cbf3c2228ab.jpg)
родил таки. 4 вариант инфографики)) если всем нравится буду сводить стилистику всего к этому. лайнарт

[2017-10-05 12:22] cptn-solo commented on #9
корректирую вИдение:
1. Нижний шар - структура адресного актива - это и есть один из 6тиугольников, это д.б. показано не двумя стрелками, а "зумом", как у меня.
2. Портфельный актив - это весь нижний (зум) шар, поэтому пунктирная стрелка должна  вести не в "подвижной состав, а в желтый круг (который по-идее должен быть заменен шестиугольником)

[2017-10-05 13:21] cptn-solo commented on #10
Не знаю, вот что-то среднее между моим видением и Ваниным
<img width="686" alt="screen shot 2017-10-05 at 16 20 21" src="https://user-images.githubusercontent.com/1105555/31229374-24b4ea42-a9e9-11e7-9904-917b1e242063.png">

[2017-10-06 06:51] iSergeevich commented on #9
![default](https://user-images.githubusercontent.com/31988874/31266313-9f91d8f8-aa8c-11e7-9456-c9c0086410c9.jpg)

[2017-10-06 06:51] iSergeevich commented on #9
![2](https://user-images.githubusercontent.com/31988874/31266318-a7237ca2-aa8c-11e7-8373-b5f18e7db4a8.jpg)

[2017-10-06 06:52] iSergeevich commented on #9
![3](https://user-images.githubusercontent.com/31988874/31266335-b8701db2-aa8c-11e7-8025-9fb7a9d2603d.jpg)

[2017-10-06 06:54] iSergeevich commented on #11
![default](https://user-images.githubusercontent.com/31988874/31266380-f6170e78-aa8c-11e7-889b-450fc78c4241.jpg)

[2017-10-06 06:55] iSergeevich commented on #11
![2](https://user-images.githubusercontent.com/31988874/31266406-1bf7ee3c-aa8d-11e7-9d28-b1dc2ba069d3.jpg)
от себя- мое мнение, стоит остановиться на 2 варианте, что я и сделал, показав все далее

[2017-10-06 07:40] cptn-solo commented on #11
<img width="239" alt="screen shot 2017-10-06 at 10 32 44" src="https://user-images.githubusercontent.com/1105555/31267691-b975c258-aa81-11e7-8860-493122ec50cc.png">
Мы вроде монохромным границы толще только для физической увеличить хотели, а тут я вижу все границы одинаковые.

По последнему варианту - не понял что ты имеешь ввиду под 2 вариантом. Развернутые уголки букв? Так-то вроде все одинаково

[2017-10-06 07:56] cptn-solo commented on #9
Логически все хорошо. Один только момент, который был довольно важен в исходной моей иллюстрации - это собственно сама "структура" - это в числе прочего еще и "пропорция" - поэтому я использовал секторный график в качестве фигуры, подписанной как "структура активов". @iSergeevich я бы добавил в левый верхний угол шестиугольника (есть немного места между зеленым и синим кругами) небольшую иконку се

[2017-10-06 07:59] iSergeevich commented on #9
не вопрос. какой вариант слева или справа?

[2017-10-06 08:01] iSergeevich commented on #11
иными словами ты скелет хочешь? вместо ленты

[2017-10-06 08:02] cptn-solo commented on #11
Да, вариант я бы посмотрел. Просто понять, имеет ли смысл двигаться в этом направлении

[2017-10-06 08:08] iSergeevich commented on #11
ок щас

[2017-10-06 08:09] cptn-solo commented on #9
Блин, хороший вопрос. ИМХО слева строже, а справа довольно много цветов, и их надо будет приводить в соответствие с остальными диаграммами. т.ч. я бы наверное посмотрел левый.

И ЕЩЕ - давайте развернем стрелку от структуры к портфелю, а не наоборот. Чего-то я все же думаю, что у нас стрелки должны идти по иерархии активов. Т.е. от фиата и крипты через  ресурсные и инфраструктурные токены к самому

[2017-10-06 09:13] iSergeevich commented on #9
![default](https://user-images.githubusercontent.com/31988874/31271308-8663c756-aaa0-11e7-8043-cb311430aa4f.jpg)

[2017-10-06 10:44] iSergeevich commented on #11
![3](https://user-images.githubusercontent.com/31988874/31274627-2aa277c0-aaad-11e7-9ca2-3fb793decf19.jpg)
скелет в студию!

[2017-10-06 10:48] cptn-solo commented on #11
@iSergeevich @alecvert мне нравятся все варианты, кроме крайнего правого на черном фоне
<img width="113" alt="screen shot 2017-10-06 at 13 47 00" src="https://user-images.githubusercontent.com/1105555/31274721-da63479a-aa9c-11e7-9644-89243bcafcb0.png">
<img width="112" alt="screen shot 2017-10-06 at 13 46 45" src="https://user-images.githubusercontent.com/1105555/31274723-da8aad94-aa9c-11e7-9973-a

[2017-10-06 10:50] iSergeevich commented on #11
![3](https://user-images.githubusercontent.com/31988874/31274820-0ecaa6b6-aaae-11e7-9f7e-906932356e49.jpg)

[2017-10-06 11:11] iSergeevich opened #12 "Подборка всех схем и диаграмм"

[2017-10-06 11:12] #12 closed, assigned to nobody

[2017-10-06 11:22] alecvert commented on #11
Не стоит оставлять без контуров, крайние варианты не то, как нотная грамота какая-то, либо как-будто криво нарисовано, нечётко, непонятно, либо делать неоновым и прорисовывать графику, но в любом случае будет ни о чём смотреться в монохроме.

Можно потом выкинуть энтузиастам, отдизайнят , если захотят.

Стальной цвет лучше тёмного имхо. Здесь нравятся все варианты https://user-images.githubusercon

[2017-10-06 11:27] cptn-solo commented on #11
@alecvert если тебе без границ схематика не понравилась, то давайте попробуем просто на монохроме все-таки по-тоньше границу цифре сделать и оставляем.
Но вообще я чем больше смотрю, тем мне больше нравится без границ. Какая-то схожесть с ветвящейся живой структурой даже прослеживается, с зарослями лозы что ли. Особенно зелень.
В любом случае важно оставить исходники и с границей и без. Я зафанате

[2017-10-06 11:28] alecvert commented on #11
@kkrupovich @iSergeevich С зеленью есть смысл , кстати, да, может ветвящуюся структуру сделать пожирнее, ну и как-то прорисовать и добавить свечения как было в картинке примере?

[2017-10-06 11:30] cptn-solo commented on #11
Поддерживаю прорисовать пожирнее, но свечение можно будет использовать только для части вариантов, помним про широкий спектр применения логотипа.

Лого с электронной лозой вместо цифровой U - имхо весьма оригинально. Можем стилизовать потом  - листики пририсовать, яблоки, поджечь верхушку  и т.п. :))))) Нарядить как елку гирляндой или просто "навкручивать" лампочек цветных в контактные точки :)

[2017-10-06 11:41] alecvert commented on #9
@kkrupovich @iSergeevich  1. Давайте исходить из цветовой гаммы нашего будущего фирменного стиля.
2.  Шрифт текста должен быть более айтишным, у нас же не комикс , типа Courier New http://prntscr.com/gtzruc (как пример), надо выбрать. И опять же его использовать потом как фирменный стиль.
3. Давайте добавим живости иконками , но тоже в айтишном стиле, которые потом в презах и инфографике схематичн

[2017-10-06 11:45] alecvert commented on #11
Пожирнее, более детализированно, продуманно и покрасивее, то есть смысл цифровое дерево, только не так как у lesсoin. Я думаю, что даже СА понравится, если воплотить этот вариант круто.

[2017-10-06 11:48] cptn-solo commented on #11
@alecvert @iSergeevich коллеги, но если мы его прорисуем и детализируем - это уже будет не цифрой, а реальным гаджетом, платой на листе оргалита, грубо говоря :) т.е. возможно нам нужно два варианта - один - стилизация под цифровое дерево (скорее, правда, куст, а не дерево, заросли) и дальнейшие всяческие прибамбасы, которые можно будет к такому дереву прикручивать (см. мои пред. комменты) - и дру

[2017-10-06 11:53] alecvert commented on #11
Концепция цифровой лианы мне нравится. Цифровая экология.

[2017-10-06 12:35] iSergeevich commented on #11
с яблоками и лампочками при зуме картинка будет такой?)))
![0marqueelightbulbschaosscene2-](https://user-images.githubusercontent.com/31988874/31277972-bca1b726-aabc-11e7-9ce8-b6275133d99a.jpg)

[2017-10-06 12:37] cptn-solo commented on #11
@iSergeevich не спамь! :) но в целом варианты стилизации безграничны, да. Дудлы гугла под праздники покажутся унылой стенгазетой ;)

[2017-10-06 12:40] iSergeevich commented on #11
я думаю логотип должен быть без свечения, это раз. не перегруженными мелкими деталями - два. насчет внешнего вида монетки, это просто привьюшка, монетка будет другой, без фоновых сфер, слишком много деталей. считаю что нужны 3 вида лого - монохром ч/б можно использовать в микроразмере (упрощенная версия должна быть), с градиентом и просто в цвете. касатеьлно яблок и прочего - на маленьком логотипе

[2017-10-06 13:26] alecvert commented on #11
@iSergeevich Насчёт пятна , посмотри на это :) http://prntscr.com/gu19x8 , в маленькой виде, у нас будет как зелёная часть U

[2017-10-06 13:52] iSergeevich opened #13 "Подборка всего и вся (схемы, диаграммы, логотип, коин)"
@iSergeevich Предлагаю сюда сложить некий меппинг - какой вариант логотипа для чего предназначен и в каких вариантах. Хотя, может ты под это задачу и планировал, тогда сорян ;)

[2017-10-09 21:48] iSergeevich commented on #11
![default](https://user-images.githubusercontent.com/31988874/31359934-8aa0da1c-ad65-11e7-8293-bda87909cbfb.jpg)

насчет микро юнити на привью

[2017-10-09 21:50] iSergeevich commented on #11
![4](https://user-images.githubusercontent.com/31988874/31359958-a0698d9e-ad65-11e7-8a45-6c34ae8bee96.jpg)
решил сделать немного полупрозрачный слой. рассмотрел новые цвета. доработал дорожки,показал скрытую часть

[2017-10-09 21:51] iSergeevich commented on #11
меня почему то цепляют 2 и 6 варианты, что снизу, что сверху

[2017-10-10 03:38] alecvert commented on #11
@iSergeevich Не то

@kkrupovich  Но кое что можно взять и попробовать из этого варианта, что я заметил. Здесь http://prntscr.com/gvgddq эффект 3d , как будто в 3d очках смотришь (эффект анаглиф), и это тоже в некотором плане цифра.

Что если http://prntscr.com/gvgdno вот это сделать с таким эффектом, можно даже попробовать на цифровом варианте с токопроводящими дорожками убрать токопроводящие доро

[2017-10-10 03:50] alecvert commented on #10
@kkrupovich @iSergeevich вагонетку не надо рисовать как вагонетку. Ваня , посмотри как выглядить юнитрак https://www.youtube.com/watch?v=UVHbUTsse98 .

Пока как-то слабовата схема. Турникет, будет ли вообще? Или это сенсор на станции, который автоматом будет списывать базовый актив?

Мне лично схема непонятна сейчас.
Надо 100% делать пояснения, если будем оставлять в подобном виде.

[2017-10-10 03:56] alecvert commented on #7
@iSergeevich @kkrupovich глобус круто, но отталкивают вот эти выноски http://prntscr.com/gvgi3i , как будто шипы http://prntscr.com/gvgikm

[2017-10-10 03:59] alecvert commented on #6
@kkrupovich @iSergeevich не та стилистика картинки на мой взгляд абсолютно и цветовая гамма, комиксы как будто. У нас же высокотехнологичный проект

[2017-10-10 04:00] alecvert commented on #5
@iSergeevich где?

[2017-10-10 05:45] iSergeevich commented on #11
я изначально говорил всем, что нужно упрощать логотип. мелкий вариант смотрите выше, смотрится реально как точка. на коине в инфографике я показал условно так
![image](https://user-images.githubusercontent.com/31988874/31370996-11adbf10-ada8-11e7-8f9b-d7e7c143457e.png)

[2017-10-10 05:46] iSergeevich commented on #11
@alecvert я сейчас сделаю псевдо 3д на том что ты попросил

[2017-10-10 07:27] iSergeevich commented on #11
![2](https://user-images.githubusercontent.com/31988874/31374180-55254566-adb6-11e7-87ad-a718e690f40a.png)
![coin unity logo 2colors](https://user-images.githubusercontent.com/31988874/31374191-5c0ff51a-adb6-11e7-800f-f5624c597a9c.png)

[2017-10-10 07:29] iSergeevich commented on #11
я еще и глитч анимацию делать научился. так что не зря я у компа столько торчу
![1080x1080-instagram-black](https://user-images.githubusercontent.com/31988874/31374240-95fdf538-adb6-11e7-956d-ac80e90cbb82.gif)
![Uploading 1080x1080-Instagram.gif…]()

[2017-10-10 07:29] iSergeevich commented on #11
![1080x1080-instagram](https://user-images.githubusercontent.com/31988874/31374264-adb48610-adb6-11e7-9d54-39f7f4cbb273.gif)

[2017-10-10 07:36] cptn-solo commented on #11
слушайте, к вопросу об упрощении - я придумал как показать цифровую U максимально просто - пунктиром. Но ИМХО это можно делать только для мелких иконок. просто прорисовать цифровую у бусинками эдакими. пунктир из шариков. можно даже одного диаметра, без выкалываний.
я про вот это говорю сейчас:
<img width="101" alt="screen shot 2017-10-10 at 10 46 47" src="https://user-images.githubusercontent.com

[2017-10-10 07:53] cptn-solo commented on #6
В общем, я согласен с @alecvert - это не схематично ни разу.

[2017-10-10 07:59] cptn-solo commented on #7
ИМХО кто-то пересмотрел ужастиков в детстве просто.
Но я согласен, что можно оставить только подписанные выноски, а пустые убрать.

Однако не будем забывать о главном назначении данной иллюстрации. @iSergeevich , коллега, иллюстрации - это не просто рисунки. Это графическое выражение того, что написано в тексте, либо объяснено моими схемами (которые мне не так-то просто рисовать - но я это делаю,

[2017-10-10 08:20] iSergeevich commented on #9
шрифты и цвета переехали в ветку https://github.com/u-transnet/www-teaser/issues/8#issuecomment-339231720 все равно на сайте тоже использовать

[2017-10-10 08:43] cptn-solo commented on #10
Еще раз, цель данной иллюстрации - показать управление технической инфраструктурой (физической сетью) посредством транзакций в блокчейне (цифровой сети). Как и что должно быть нарисовано - вопросы к правому полушарию @iSergeevich - пускай генерит варианты, мы отсеиваем.

[2017-10-10 08:56] iSergeevich commented on #8
по цветам нужно решить четко гамму и все в них буду делать

[2017-10-10 08:57] iSergeevich commented on #8
![2](https://user-images.githubusercontent.com/31988874/31377861-e72a3d02-adc2-11e7-83ad-4262dcb83604.png)

[2017-10-10 09:00] iSergeevich commented on #11
услышал сделаю по ним подборку
решаем сколько типов и какой куда
докуметация и вся айдентика два вида, простой в цвете и мелкий простой
диаграммы так же 2 вида как выше
медиа только цвет
сайт и прочее - так же 2 типа. микро ч/б можно в футер и хитер поставить иконкой. минималистично будет

[2017-10-10 09:13] cptn-solo commented on #11
Это кстати лучше сделать в #13 , только важно это сделать аккуратно - превью, описание "куда", ссылка на файл исходника (предварительно закоммиченного)

[2017-10-10 09:15] iSergeevich commented on #11
@kkrupovich соглашусь с тобой наверное в 1 и 2 вариантах тех лого что ты прикрепил (моно и фиолет), впрочем думаю для упрощения стоит рассмотреть тогда и анаглиф

[2017-10-10 09:16] iSergeevich commented on #11
@alecvert выбери 2 варианта близких тебе из того что есть

[2017-10-10 09:21] iSergeevich commented on #10
@alecvert @kkrupovich тогда вместо секторов и областей на инфографике будут иконки, ибо все вместе это перебор для глаза

[2017-10-10 17:27] iSergeevich commented on #11
@kkrupovich вот это применимо к той версии логотипа, которую ты выбрал
![wp1](https://user-images.githubusercontent.com/31988874/31400725-1c228478-ae0a-11e7-84a2-89ca9ac983ec.png)

[2017-10-10 17:27] iSergeevich commented on #11
кстати давайте эти цвета и возьмем. сочно. ярко

[2017-10-10 17:28] iSergeevich commented on #11
![wp2](https://user-images.githubusercontent.com/31988874/31400767-32d791d6-ae0a-11e7-9296-f8e2f2d8f9f2.png)
ну а это уже мое видение с анаглифом

[2017-10-10 18:16] alecvert commented on #11
@iSergeevich @kkrupovich   для иконок да, согласен прикольно и схематично http://prntscr.com/gvql0c, подтверждаем.

Анаглиф режет глаз, попробовали хватит, давайте может попробуем пиксели, просто как вариант, только пиксели мелкие.

Глитч прикольно, но пахнет ли https://www.youtube.com/watch?v=YbeWhdZ2-f8 ?

Цифровая часть здесь не катит на мой взгляд,  лучший цвет для стали делать светлым, то ест

[2017-10-10 18:22] alecvert commented on #9
@kkrupovich @iSergeevich  начсет шрифта предложение взять какой то из этих
https://www.behance.net/gallery/23503137/TT-Supermolot - шрифт класс! Или вот это ? http://prntscr.com/gvqsit

фирменные цвета - морская волна, синий, красный, черный . Не катит. У кого какие предложения?

[2017-10-10 18:23] alecvert commented on #8
@kkrupovich @iSergeevich Хорошо, что иконки обозначают? Так очень неплохо. Решить по цветам и ок. Цвета должны быть такие же как в фирменном стиле.

[2017-10-10 18:27] iSergeevich commented on #9
зеленый и его оттенки. мятный мб
оранж + черный
голубой + фиолетовый, анаглиф
можно привязать к цветам скайвэй

[2017-10-10 18:28] iSergeevich commented on #9
шрифт руссосанс или молот. принято. скачал

[2017-10-10 18:32] iSergeevich commented on #11
![image](https://user-images.githubusercontent.com/31988874/31403685-477c398a-ae13-11e7-8875-c513ef882621.png)
ну вот пример стали @alecvert
светлая. не смотри на анаглиф

[2017-10-10 18:35] iSergeevich commented on #8
@alecvert описание цифр на выносках
https://github.com/u-transnet/info/issues/8#issuecomment-333454337
https://github.com/u-transnet/info/issues/7

[2017-10-10 18:40] alecvert commented on #11
@iSergeevich Да, светлая, так как именно это сталь. Анаглиф всё забываем, режет глаз.

[2017-10-10 19:49] cptn-solo commented on #10
Ваня, ты перепутал задачу. этот коммент видимо был для #9

[2017-10-10 19:50] cptn-solo commented on #9
Шрифт ок. Цвета лучше показывать цветами, а не "синий", "красный", "черный"
И вообще, вы так уютно расположились в задаче под саму важную иллюстрацию, что у меня прям даже как-то слов нет, чтобы вас прогнать отсюда. Закругляйтесь.

[2017-10-10 19:56] cptn-solo commented on #8
@iSergeevich @alecvert коллеги. зачем целиком континенты залили цветом? Я начинаю думать, что работаю с китайцами - те тоже в любой непонятной ситуации все "понимают" как им удобно.
Красный, желтый, зеленый - цвета светофора, предупреждения, опасности, безопасности. Это очевидно.
Заливка областей - явно по степени загрузки этой области. То есть берется, например, север полуострова Индостан и залив

[2017-10-10 20:18] iSergeevich commented on #11
![coins5](https://user-images.githubusercontent.com/31988874/31408444-04889330-ae22-11e7-833a-4633b1ca5315.png)
@alecvert вот тебе лайм)

[2017-10-10 20:24] alecvert commented on #9
@kkrupovich @iSergeevich прикольная идея иконок http://prntscr.com/gvrs7f Как считаете?

[2017-10-10 20:25] alecvert commented on #11
@kkrupovich @iSergeevich мне нравится, прикольный мятный цвет с пикселями. Салатовый слишком ядовитый. Возможно ещё с цветовой гаммой надо будет подумать

[2017-10-11 05:14] iSergeevich commented on #11
итак сутра я немного допилил картинки.
напомню. было так, @alecvert посчитал ядовитым салатовый вариант
![image](https://user-images.githubusercontent.com/31988874/31423225-c9f6bb66-ae6c-11e7-9091-7d0bae5de513.png)

сейчас я сделал немного изменений во втором варианте с дорожками, так лучше. имхо мое мнение. сразу пример с шарами, на втором привью все тоже самое, но шар тоньше имеет границы
![4](h

[2017-10-11 06:41] cptn-solo commented on #11
@alecvert ИМХО бомбически. Цвет, пикселы, дорожки.
С дорожками можно немного поиграться - а то "разлохматились" верхушки - но это мне утром так показалось. А сейчас вот смотрю, и в общем даже наверное это норм.
Я одобряю все 8 изображений, в общем.
PS: цвет хороший. Я думаю мята реально строже, спокойнее, чем лайм.

[2017-10-11 07:32] iSergeevich commented on #11
вот мои последние мысли, выколол точки контактных дорожек

![444](https://user-images.githubusercontent.com/31988874/31427536-11b2fcb2-ae81-11e7-91cf-5f7c8fc7ec2a.png)

и варианты вместе с текстом.

![4444](https://user-images.githubusercontent.com/31988874/31427243-04b2e6b8-ae80-11e7-8241-5d47b0fecc36.png)

а оставлять U как символ, но при этом писать рядом справа - NITY это зашквар полный. ИМХО

[2017-10-11 08:29] cptn-solo commented on #11
@iSergeevich @alecvert IMHO этот вариант точно надо закоммитить (всмысле исходники). Выглядит оч. хорошо.

[2017-10-11 09:18] alecvert commented on #11
@iSergeevich @kkrupovich крайняя попытка визуализации оцифрованного мира в виде пикселей лаконичных увенчалась успехом. Дорожки тоже хорошо выглядят. Лучше имхо без technology . Внизу можно написать we must unite вместо неё

[2017-10-11 09:26] iSergeevich commented on #11
UNITY
we must unite

Так?

[2017-10-11 09:26] alecvert commented on #11
@iSergeevich Да только We с большой буквы

[2017-10-11 09:27] alecvert commented on #11
@kkrupovich @iSergeevich в шаре уже не так смотрится имхо

[2017-10-11 17:07] iSergeevich commented on #11
@alecvert уходим от шара?

[2017-10-11 18:05] cptn-solo commented on #11
Слушайте, я бы от шара не торопился уходить. Может, в логотипе его и не будет (если будет подпись какая-то, то он конечно лишний) но вообще во всяких интерактивных штуках типа веб-страниц, при наведении курсора этот шар может неплохо помочь (вместе с вертящимися буквами) - т.ч. в исходниках я бы его оставил.

[2017-10-11 18:07] cptn-solo commented on #9
Норм. Как вариант.

[2017-10-11 18:50] iSergeevich commented on #9
@kkrupovich @alecvert если считаете нужным - отрисую их

[2017-10-11 21:11] iSergeevich commented on #7
![3](https://user-images.githubusercontent.com/31988874/31467191-90c93d92-aef2-11e7-9274-6bed0a500e34.png)
утром еще вариант прикреплю

[2017-10-12 06:47] iSergeevich commented on #11
![44444](https://user-images.githubusercontent.com/31988874/31482755-f1cb1ef8-af42-11e7-8f13-7bf665133254.png)
итак коллеги, вот финальный вариант, выбираем вид а - с пикселями или вид б - с дорожками. и я начинаю на базе этого создавать айдентику

[2017-10-12 09:00] cptn-solo commented on #11
@iSergeevich @alecvert я за пиксели, но сердце разрывается :))))) дорожки клевые.
И еще, ИМХО можно лайм оставить на черном фоне, а мяту - на белом. что думаете? Мята успокаивает, а лайм оживляет, и как раз это как-то в лучшую сторону и там и там смещает "оттенок", - но я понимаю, что это может быть сложно с точки зрения бренда.

[2017-10-12 09:01] iSergeevich commented on #11
нет не сложно. я за. все это описывается в книжечке под названием брэндбук. так что нет проблем)

[2017-10-12 11:16] iSergeevich commented on #10
@kkrupovich твоя интерпритация - в нижней части инфографики
по иконкам есть вопросы? спрашивайте - отвечу
![4](https://user-images.githubusercontent.com/31988874/31493416-979f95c8-af68-11e7-99af-c4f606e27c72.png)

[2017-10-12 11:30] iSergeevich commented on #8
![3](https://user-images.githubusercontent.com/31988874/31493887-8b732ab0-af6a-11e7-8c19-b88ff189cb10.png)
без светофора и заливки всей карты

[2017-10-12 13:18] iSergeevich commented on #5
новые иконки, новая графика
![default](https://user-images.githubusercontent.com/31988874/31497873-bb5314a2-af79-11e7-9f6d-e2ae6f42377e.png)

[2017-10-12 13:42] iSergeevich commented on #11
![1080x1080-instagram-black2](https://user-images.githubusercontent.com/31988874/31498963-cdc4d6fe-af7c-11e7-91d4-5a8cf6438b0f.gif)

[2017-10-16 08:23] alecvert commented on #10
@iSergeevich @kkrupovich уже лучше , что обозначают цвета?
http://prntscr.com/gxz6h7 станция? лучше нарисовать как станцию.
http://prntscr.com/gxz6wr это что?
Проще дать условные обозначения
Я не понимаю вообщем эту схему прям досконально. Но выглядит качественно

[2017-10-16 08:23] alecvert commented on #9
@iSergeevich @kkrupovich где продолжение?

[2017-10-16 08:24] alecvert commented on #8
@kkrupovich @iSergeevich выглядит классно, но что обозначает и для чего?

[2017-10-16 08:25] alecvert commented on #7
@iSergeevich @kkrupovich где вариант?

Крайний вариант абсолютно не подходит на мой взгляд.

[2017-10-16 08:26] alecvert commented on #6
@iSergeevich @kkrupovich и что? где продолжение?

[2017-10-16 08:47] cptn-solo commented on #7
@alecvert абсолютно не подходит - не ответ.
@iSergeevich по пунктам:
1. "подсвеченный" маршрут надо бы пожирнее выделить (без фанатизма, но этот маршрут должен выделяться заметнее;
2. На задник положить карту континентов с сетью - то, что в круге - это только "зум";
3. монету на этой иллюстрации не обязательно показывать, а если показывать - в правой колонке цифры внизу, под "суммой" в U (Эта сумм

[2017-10-16 08:51] cptn-solo commented on #8
@iSergeevich фиолетовый что должен обозначать в концепции "светофора"? "Мне фиолетово"? ;) давайте сделаем все же 3 цвета, зеленый, желтый и красный. Зеленый и желтый где-нибудь на дальних локациях, а  красный (перегрузка мощностей) - где-нибудь в Индии, например.
И еще  - мы можем "рыбий глаз" сделать, чтобы это место как-то "приблизить" - это ж добыча инвестора - нехватка мощностей, значит, в эт

[2017-10-16 08:54] cptn-solo commented on #9
@iSergeevich да, давайте уже сводить со шрифтами и стилями

[2017-10-16 09:16] cptn-solo commented on #10
@iSergeevich по пунктам:
1. В шариках буквы A, B, C, D, E - это лишнее и в концепции такого нет. Даже так я бы сказал - в концепции на А2 (экономика токена) эти буквы есть, но означают совершенно конкретные вещи - это активы подвижного состава, станций и путевой структуры. Это надо убирать, а то запутаемся;
2. на нижней левой схемке (по мотивам моей схемы, я так понимаю) - норм буквально все, но Н

[2017-10-16 09:32] iSergeevich commented on #10
@kkrupovich понял. буквы уберу. пунктир очищу. цвета были для примера. сделаю в цветах лого. мятные или лайм оттенки

[2017-10-16 09:32] iSergeevich commented on #10
@alecvert для тебя сделаю справочник по иконкам, так как @kkrupovich уже знает обозначения моих иконок

[2017-10-16 09:35] iSergeevich commented on #8
пожар явно не нужно. восклицательный знак самое оно, либо красные точки и связи. зум сделаю

[2017-10-16 09:37] iSergeevich commented on #7
ок

[2017-10-16 16:29] iSergeevich commented on #10
![2](https://user-images.githubusercontent.com/31988874/31623533-24beddd0-b2b9-11e7-84a5-f3be8e074325.png)
вместе с иконками

[2017-10-16 16:30] iSergeevich commented on #5
![2](https://user-images.githubusercontent.com/31988874/31623563-3cbb1840-b2b9-11e7-8143-cf2939f8ff94.png)
с расшифрованными иконками и исправленной графикой по отношению к верхнему эскизу

[2017-10-16 19:15] iSergeevich commented on #8
![4](https://user-images.githubusercontent.com/31988874/31630500-346ca8a4-b2d0-11e7-9fd3-536ea2a4f4fd.png)

[2017-10-16 21:03] iSergeevich commented on #9
![4](https://user-images.githubusercontent.com/31988874/31635209-68533c50-b2df-11e7-94a0-a1e7603267bd.jpg)

[2017-10-17 04:47] iSergeevich commented on #10
![5](https://user-images.githubusercontent.com/31988874/31647223-61e292da-b320-11e7-8ede-c9739b8b95da.png)
![default](https://user-images.githubusercontent.com/31988874/31647224-620aeb18-b320-11e7-8d70-fdc6ac2ee037.jpg)

[2017-10-17 04:59] iSergeevich commented on #7
![4](https://user-images.githubusercontent.com/31988874/31647464-d518e79e-b321-11e7-88a5-5d22cd4c4c32.png)

[2017-10-17 05:00] iSergeevich commented on #5
![3](https://user-images.githubusercontent.com/31988874/31647484-eebcbe3c-b321-11e7-877b-a1ffc878b0b5.png)

[2017-10-17 05:43] iSergeevich commented on #6
![scheme5](https://user-images.githubusercontent.com/31988874/31648584-fe45591c-b327-11e7-940e-6261643637de.png)

[2017-10-17 08:18] cptn-solo commented on #6
Коммент отвязался от исходного текста концепции, не могу найти в документе место, к которому эту иллюстрацию заказывал, но она вообще-то очень важная.
@iSergeevich , думаю, можно сделать компактнее - не показывать всю карту, а ограничиться какой-нибудь узнаваемой частью, буквально, четверть Африки на фоне показать, больше не надо.
По зум-врезке - цифры из шариков верхней линии можно убрать. В исхо

[2017-10-17 08:25] cptn-solo commented on #5
Схема справа - набор клипарта, не имеющего отношения к теме вообще. просто какие-то символы.
На самом деле то, что @iSergeevich совместил этот слайд с другим (левая часть приехала из другой задачи, очевидно) - и на этом левом слайде _уже есть_ отображение цифровой структуры (нижняя пунктирная линия -  это и есть информационные потоки, блокчейн, оцифрованный транснет) - то не понятно зачем вообще п

[2017-10-17 08:28] cptn-solo commented on #7
насчет зума - не вижу выделения маршрута  (забыл? это первый пункт был)
Карту можно подрезать до какой-то небольшой области - четверти Африки, думаю, хватит, см. аналогичный коммент в #6

[2017-10-17 08:35] cptn-solo commented on #10
Ну, тут, похоже, никаких особых изменений не произошло, только иконки... Не знаю, это хорошо, наверное, что у нас теперь есть справочник иконок - но хз. Иллюстрации должны брать не этим.

[2017-10-17 08:39] cptn-solo commented on #9
@iSergeevich @alecvert это ВАУ. Мне очень нравится и стиль, и содержание (правда, содержание тут по-моему изначально мое - но @iSergeevich удалось сделать из моего ..на конфетку, ИМХО это пока эталон. К этому надо стремиться во всех иллюстрациях.

[2017-10-17 08:42] cptn-solo commented on #10
Все же я бы продолжил попытки _объединения_ моих пояснений и Ваниной концепции для этой иллюстрации.

[2017-10-17 18:36] alecvert commented on #11
@iSergeevich @kkrupovich не откоментил

ИМХО можно лайм оставить на черном фоне, а мяту - на белом. что думаете? Мята успокаивает, а лайм оживляет, и как раз это как-то в лучшую сторону и там и там смещает "оттенок", - но я понимаю, что это может быть сложно с точки зрения бренда. - СОГЛАСЕН

Так что применяем как официальное пиксели или дорожки?

[2017-10-17 18:42] alecvert commented on #10
@kkrupovich @iSergeevich давайте голосом поштурмуем над иллюстрациями

[2017-10-17 18:45] alecvert commented on #9
@kkrupovich @iSergeevich да, мне нравится. Просто и со вкусом.

[2017-10-17 18:50] alecvert commented on #5
@kkrupovich @iSergeevich надо обсуждать голосом. Пока из иллюстраций устраивает вот эта https://user-images.githubusercontent.com/31988874/31635209-68533c50-b2df-11e7-94a0-a1e7603267bd.jpg

[2017-10-17 19:32] iSergeevich commented on #11
мне сложно, понравились оба))

[2017-10-17 19:33] iSergeevich commented on #9
спасибо!

[2017-10-17 19:36] iSergeevich commented on #11
мне сложно, понравились оба))

[2017-10-17 19:36] iSergeevich commented on #11
мне сложно, понравились оба))

[2017-10-17 19:36] iSergeevich commented on #11
мне сложно, понравились оба))

[2017-10-17 19:37] iSergeevich commented on #11
мне сложно, понравились оба))

[2017-10-17 19:37] iSergeevich commented on #11
мне сложно, понравились оба))

[2017-10-17 19:38] iSergeevich commented on #10
да я добавил иконки и изменил цвета

[2017-10-18 06:33] cptn-solo commented on #11
@alecvert @iSergeevich слушайте, вот сейчас мне уже больше нравятся дорожки. Черт его знает, но они почему-то оригинально смотрятся. Интереснее как-то что ли, чем пиксели. Либо просто пиксели какие-то не пиксельные, а ванильные получились.

[2017-10-24 15:48] cptn-solo commented on #1
@githleo  Добавил [таблицу](https://docs.google.com/spreadsheets/d/1nvmLlV-rFJ18H_nYF4-YIPfR9a1ohRMakCJeurUttis/edit?usp=sharing) с примерами проводок, иллюстрирующими экономику токена

[2017-10-24 15:53] cptn-solo commented on #1
@githleo Добавил [документ](https://docs.google.com/document/d/1BW7PJPcx_vZhYGBWm-WWfdLe6WyZ-8RCzXY3ZnB1OSU/edit?usp=sharing) с принципами токенизации проектов в рамках платформы

[2017-10-24 20:31] iSergeevich commented on #9
![5](https://user-images.githubusercontent.com/31988874/31966401-00fe2902-b924-11e7-8052-18055d789692.png)
и попутно для сайта визуал
![default](https://user-images.githubusercontent.com/31988874/31966477-44bda244-b924-11e7-88e5-6c0cf1df6ba5.png)

[2017-10-24 20:35] cptn-solo commented on #9
@iSergeevich ну я не знаю, прикольно выглядит, конечно, но зачем к этой задаче опять? она и так тяжеленная - надо убирать отсюда шрифты и стили в другое место куда-то.

[2017-10-25 06:50] iSergeevich commented on #9
@kkrupovich https://github.com/u-transnet/www-teaser/issues/8#issuecomment-339231720 я перенес туда буквы и цвета, блин ка же медлено все с телефона делать...) он аж троить начал когда в буфер столько инфы вогнал))))

[2017-10-25 07:53] cptn-solo commented on #9
@iSergeevich спасибо, норм

[2017-10-25 08:53] cptn-solo commented on #1
@alecvert @githleo [документ](https://docs.google.com/document/d/10YEXtN0SESjgDkPuzyAzMWm3lLzW6dzyEOTzo_XyvIU/edit) под экономику токена

[2017-10-25 08:59] cptn-solo commented on #2
@alecvert @githleo это не касается токенов адресных проектов. В рамках данной задачи мы определяемся с "окнами", партнеркой и т.п.

[2017-10-26 13:46] alecvert commented on #9
@kkrupovich @iSergeevich  http://prntscr.com/h2apo9 непонятно , что к чему и в стиле футурамы, мультяшно как комиксы что ли

[2017-10-26 13:56] cptn-solo commented on #9
На самом деле здравое зерно есть - выноски, уводящие вниз, и ведущие к "лежащему в основании" электронному представлению элемента.

[2017-10-26 19:42] cptn-solo opened #14 "Ознакомительная презентация для сбора фидбэка (без символики)"
Но пока без фирменного стиля, так как название пока показывать не будем, так как не запустим ещё сайт
просто на приятном фоне какой у нас будет, без символики и лого
слайды презы в power point

Слайд 1
Существует ли мир IoT

Ведущие исследователи говорят к 2025 году 500 миллиардов вещей будут подключены к интернету.

Слайд 2
Всеобщая роботизация
Картинки роботов- швейцаров , поваров и т д, дронов,

[2017-10-27 09:11] cptn-solo commented on #14
@iSergeevich @alecvert смотрите, какую шикарную презу нашел по bitshares:
https://bitshares.org/media/2015_bitshares_infographic_en.pdf

Сперто [отсюда](https://bitshares.org/contact/) (там есть еще медиа-кит, откуда можно иконку битшар подрезать в svg какую-нибудь)

[2017-10-29 20:09] cptn-solo commented on #13
@iSergeevich up

[2017-10-30 10:22] cptn-solo commented on #8
@iSergeevich @alecvert @jackal1527 это хорошая иллюстрация. Спасибо.

[2017-10-30 10:27] cptn-solo commented on #6
@iSergeevich @alecvert коллеги, эту совсем немного надо дожать

[2017-11-01 22:36] cptn-solo commented on #2
@alecvert @githleo судя по недавним обсуждениям, видимо, тут мы будем формировать экспертное обсуждение схемы с конституцией, заверителями, управлением размером вознаграждения за блок, и т.д.

[2017-11-01 23:13] cptn-solo commented on #11
@iSergeevich @alecvert обсуждение закрываем, продолжаем работу по логотипу в формате исправления и дополнения. @iSergeevich убедись, что все исходные файлы логотипа закоммичены

[2017-11-01 23:13] #11 closed, assigned to alecvert, iSergeevich

[2017-11-02 18:52] iSergeevich commented on #14
презентация больше 30мб, поэтому загружаю на гуглодиск
https://drive.google.com/open?id=0B5aDnmOCGYFhT0lOdnVQbWJNdHM

[2017-11-02 18:55] kkrupovich commented on #14
@iSergeevich @alecvert парни, а не хотите повернуть картинку вокруг вертикальной оси на 180градусов, чтобы символ % этот слайд напоминал?
<img width="710" alt="screen shot 2017-11-02 at 21 54 16" src="https://user-images.githubusercontent.com/1105555/32344603-78b15762-c018-11e7-9193-3fd225379919.png">

[2017-11-02 20:17] alecvert commented on #14
@iSergeevich
1 слайд изменить : Презентация концепта блокчейн платформы для SkyWay и Transnet, не надо лого пока что наш, ну сделай и такой и такой вариант. Я пока не решил, буду показывать лого в екб или нет. Так как идиоты какие-нибудь могут снимать на телефон, выложить в сеть и потом на нас сделают 4-й скам уже на существующие названия, я этого боюсь.

Здесь вместо картинки на фон здесь http://

[2017-11-02 22:55] cptn-solo opened #15 ""Вводная" презентация в виде схемы движения токена"
Изометрия с сайта, плюс краткое введение (transnet и iot)
Есть задача #19 , из который можно взять текст за основу презентации (Краткая аннотация проектируемой платформы (под перевод))
В дополнение к этому документу (аннотации) в презентацию необходимо включить схемы, поясняющие экономику токена и пояснения к ним (два-три слайда), например:

A6.1.Строительство/производство (кратко):
<img width="48

[2017-11-02 23:05] cptn-solo commented on #14
@alecvert @iSergeevich коллеги, добавил задачу (#15) под "вводную" презу и в ней ссылка на текст Краткой аннотации - мало ли для этой презы вам пригодится

[2017-11-03 08:28] iSergeevich commented on #14
вуаля!
[презентация 2.0.pdf](https://github.com/u-transnet/info/files/1440416/2.0.pdf)

[2017-11-03 11:55] cptn-solo commented on #1
[Документ](https://docs.google.com/document/d/1bQqfFamJ_nJRabhpmWODAKq61TKvNK9PW33S4H9vYN4/edit?usp=sharing) с краткой аннотацией экономики под презентацию "введение"

[2017-11-03 11:56] kkrupovich commented on #1
<img width="684" alt="screen shot 2017-11-03 at 12 21 17" src="https://user-images.githubusercontent.com/1105555/32372732-27c45144-c0a7-11e7-9cd2-c973bfb97c2f.png">

[2017-11-03 12:02] kkrupovich commented on #4
asdfasdfasd

[2017-11-03 19:17] iSergeevich commented on #14
вуаля!
[презентация 2.1.pdf](https://github.com/u-transnet/info/files/1442244/2.1.pdf)

[2017-11-04 17:53] iSergeevich commented on #14
без упоминания ЮТТ
[презентация 2.2.pdf](https://github.com/u-transnet/info/files/1443448/2.2.pdf)

[2017-11-05 19:50] cptn-solo commented on #14
@iSergeevich @alecvert парни, закрываю? раз уже ушла в народ. Надо будет что-то поправить - будет задача на доработку.

[2017-11-05 19:50] #14 closed, assigned to alecvert, iSergeevich

[2017-11-08 15:38] cptn-solo commented on #1
[Доккумент](https://docs.google.com/document/d/1NzLyot56dbcGuMTrQUYYJTNQgr2GT8ry2gSieIcqGps/edit) с описаниями диаграм экономики токена

[2017-11-09 22:05] cptn-solo commented on #15
@alecvert @iSergeevich присоединяйтесь, @iSergeevich если берешься за задачу - предлагаю начать процесс оценки (сроки, стоимость)

[2017-11-11 14:25] cptn-solo opened #16 "Проработка схемы вознаграждения участников, привлекаемых в команду на подряд (bounty)"
Схему разрисовываем в [книге диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Funity_concept.xml) (лист U-TECH ORG)

Скриншот для вставки в wiki:

<img width="703" alt="screen shot 2017-11-15 at 14 22 19" src="https://user-images.githubusercontent.com/1105555/32833656-95682b40-ca10-11e7-9412-1d18f48463a4.png">

Добавляю в раздел ["2.Принять участие"](https://github.com/u-transnet/info/w

[2017-11-11 14:27] cptn-solo commented on #16
Если будут комментарии и пожелания по совершенствованию схемы  - переоткрываем и дорабатываем.

[2017-11-14 08:36] alecvert commented on #15
@kkrupovich вроде как диаграммы выглядят простыми, но без обращения к полным диаграммам не до конца будет понятно тому, кто будет смотреть простые упрощённые версии.

Нужно проговорить. Возможно в простых, что в этой задаче указаны чего-то не хватает.

[2017-11-14 12:12] cptn-solo opened #17 "Наше вИдение / Our vision"
Презентация в максимально эффектной подаче, максимум одна минута, зарождение и генезис псевдо-живого организма ([UNI-C](https://github.com/u-transnet/info/blob/master/UNI-C.md)) (скелет, кровеносная, нервная система) + "сознание" в сети "нейронов", реализованное в узлах блокчейн-сети и контрактах, консенсусе.

[2017-11-14 12:26] cptn-solo commented on #17
@alecvert сюда исполнителем надо ставить того человека, о котором вы говорили, сценарий нужно расписывать прямо здесь (редактировать описание задачи, можно предварительно предлагать в комментариях прям тут, картинки прикладывать).
Концепцию UNI-C зафиксировал в файле info/UNI-C.md , закоммитил в ветку master .

[2017-11-14 14:46] cptn-solo commented on #1
Добавил [новую книгу диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Futransnet_concept.xml), там пока одна страница, зафиксировал стороны, участвующие в проектировании и реализации TRANSNET SPACE (новый взгляд, после встречи с @LastWarrior )

Скрин:

<img width="688" alt="screen shot 2017-11-14 at 17 41 59" src="https://user-images.githubusercontent.com/1105555/32785870-94b84c6e-c963-

[2017-11-15 11:27] cptn-solo opened #18 "Интеграция в концепцию документа по токенизации и таблицы с примерами проводок, иллюстрирующими экономику токена"
Нужно доработать [документ](https://docs.google.com/document/d/1BW7PJPcx_vZhYGBWm-WWfdLe6WyZ-8RCzXY3ZnB1OSU/edit?usp=sharing) , вставить туда [таблицы](https://docs.google.com/spreadsheets/d/1nvmLlV-rFJ18H_nYF4-YIPfR9a1ohRMakCJeurUttis/edit?usp=sharing) (скриншоты) и, возможно, схемы. На выходе нужно получить раздел концепта, описывающий один из его блоков: Систему управления бизнес-процессами (фр

[2017-11-15 11:35] cptn-solo commented on #15
@alecvert думаю для целей презентации нужно менять "точку зрения", с которой мы смотрим на эти диаграмы - нужно что-то аналогичное [этому](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Futransnet_concept.xml) (это новая книга диаграмм, общий взгляд на проект, с учетом фидбэка от LastWarrior) ![](https://user-images.githubusercontent.com/1105555/32785870-94b84c6e-c963-11e7-9e36-3cdc52e82929.png

[2017-11-15 12:07] cptn-solo commented on #18
BLOCK #21812828 cptn-solo, до конца 17 ноября 2017 (пятница), 350 скилл

[2017-11-15 12:11] cptn-solo opened #19 "Текст аннотации со схемами, на 2 страницы"
Максимально компактное и понятное общее описание системы. Подача максимально простая и краткая. Исходный [документ](https://docs.google.com/document/d/1bQqfFamJ_nJRabhpmWODAKq61TKvNK9PW33S4H9vYN4/edit?usp=sharing) пока правим прям в гугле, потом текст как-то должен исползоваться в #15
UP: возможно, имеет смысл поменять концепцию документа - сделать его описанием [диаграммы](https://www.draw.io/#Hu

[2017-11-15 12:18] cptn-solo commented on #19
BLOCK #21813170 cptn-solo, до конца 17 ноября 2017 (пятница), 350 скилл
Не факт, что эта задача будет выполнена раньше #18 , которая тоже планируется к концу недели, но по трудозатратам это так же примерно 2 дня, поэтому

[2017-11-15 17:42] iSergeevich commented on #15
@kkrupovich, если возьмусь - не раньше середины следующей недели.
срок от 3 часов до 2 дней максимум
цену нужно обсуждать

[2017-11-15 18:08] cptn-solo commented on #17
@icggithub салют! Рад видеть тебя в участниках проекта :)
В рамках этой задачи мы хотим проводить обсуждение и проработку сценария, шарить какую-то графику и примеры и т.д. Для каких-то больших кусков работы (проработка фрагментов или вариантов) будем создавать отдельные задачи, чтобы не перегружать бэклог основной задачи.

[2017-11-15 18:10] icggithub commented on #17
Привет всем!
Рамки задачи понятны. Попробуем порешать её. И - решить)

С уважением,
ИС

15 ноября 2017 г., 21:08 пользователь Konstantin Krupovich <
notifications@github.com> написал:

[2017-11-15 18:12] cptn-solo commented on #15
@alecvert @iSergeevich Возможно это норм и даже хорошо, т.к. я хочу переписать текст в другом ключе.

[2017-11-15 18:42] cptn-solo commented on #18
В общем, вставил диаграммы, часть прямо с описаниями (со ссылками на книгу диаграмм), вставил таблицы с проводками (и ссылку на книгу с таблицами) - в общем, токенизация можно сказать у нас расписана и готова к вставке в концепт в кач-ве раздела. @alecvert надо будет тебе просмотреть, и подумаем, чего мы еще в этот раздел можем пихнуть.

[2017-11-15 18:55] iSergeevich commented on #15
@kkrupovich, делай так, как считаешь нужным, дай знать когда конкретика будет.
и на перспективу, ребят: если есть необходимость у меня чего-то спросить - пишите пожалуйста мне в личку или маякните по телефону. у меня в телеграмме 12 чатов и все разрываются. если смотреть каждый раз сообщения можно телефон из рук не выпускать. спасибо за понимание

[2017-11-15 19:39] cptn-solo commented on #15
@iSergeevich емнип ты телеграмм на телефон поставил под наш проект. Уже 12 чатов?! ;))
По существу - это ты маякни, как появится желание порисовать. У нас для тебя всегда найдется работа и теплое слово, подкрепленное материальным вознаграждением ;) Не парься.

[2017-11-16 03:00] iSergeevich commented on #15
@kkrupovich ну я просто понял что nu это удобно, а теперь не знаю как его заглушить)))
и, спасибо!
но скорее не желание, а время

[2017-11-17 09:26] cptn-solo opened #20 "Наем сотрудников"
**Тут собираем вакансии - открытые, закрытые, предполагаемые**

Реестр(блокчейн): с++, python
Веб (сайтострой):js/html/css (reactive) #25
Веб (фуллстек):js/python #37
Техническая инфраструктура: системный администратор unix
Общее для маркетинга и сайтостроя:
дизайн (сайты, включая графику) #21
проектировщик интерфейсов (web)

Системный аналитик/архитектор: #31
Журналист/обозреватель/Автор: #33

Ка

[2017-11-17 10:13] jackal1527 commented on #20
- виртуозное владение Фотошопом, Иллюстратором и Корелом.
- наличие портфолио или работ приветствуется (повлияет на обсуждение ЗП)
- приветствуется системное мышление
- умение работать в команде, брать ответственность и проявлять инициативу в возложенных задачах.

[2017-11-17 11:11] cptn-solo opened #21 "[ВАКАНСИЯ] Ищем дизайнера"
**Требования к кандидатам**

1. Bиртуозное владение Sketch, Аdobe CC (AI, PSD)
3. Наличие портфолио или работ **обязательно**.
4. Аналитеческое (системное) мышление
5. Умение и опыт удаленной работаты в команде
6. Умение решать отрытые задачи.

Фуллтайм, парттайм, удаленная работа. Решение ОТКРЫТЫХ задач.

Формальных условий получения максимальной оценки нет, но важно понимать, что чем более самос

[2017-11-17 11:13] cptn-solo commented on #20
Под дизайнера (выше) создал #21

[2017-11-17 21:12] kkrupovich commented on #21
Задача вроде выполнена.
Разбор полетов:
1. мы работаем по схеме, зафиксированной в wiki (раздел [Принять участие](https://github.com/u-transnet/info/wiki/2.-Принять-участие)):

Тут указана учетка github. Зачем? и так ясно что это @UspenskyDritry исполнитель, в обратную ссылку надо ставить учетку Bitshares.

2. судя по всему, после выполнения работы она должна быть каким-то образом "предъявлена" за

[2017-11-17 21:32] cptn-solo commented on #18
Надо доправить по комментам от @alecvert и можно включать в концепцию. Пока проставляю горчичник.

[2017-11-20 14:24] cptn-solo opened #22 "Вводная презентация для пояснения схемы взаимодействия сторон в процессе проектирования и реализации TRANSNET SPACE"
Изначально была задача #15, но в итоге мы пришли к выводу, что вводная презентация должна иметь другое содержание - она должна пояснять схему взаимодействия участников, зафиксированную в #19

[2017-11-20 14:25] cptn-solo commented on #15
Задача в текущей постановке не актуальна, создал #22

[2017-11-20 14:25] #15 closed, assigned to cptn-solo, alecvert, iSergeevich

[2017-11-20 14:30] cptn-solo opened #23 "Презентация по токенизации адресных проектов, движение активов в процессе финансирования, стоительства и эксплуатации"
Презентация должна иллюстрировать и показывать более наглядно материал, полученный в результате задачи #18
Для этих целей предполагается использовать диаграммы А0 и А1 из [основной книги диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Fdrawings%2Fconcept-full.xml) концепции

[2017-11-20 15:28] cptn-solo commented on #18
@alecvert провел итерацию комментариев, ознакомься плз

[2017-11-20 18:24] cptn-solo opened #24 "Текст для краткой вводной презентации под перевод (описание схемы взаимодействия сторон)"
Задача сформирована вместо #19 , потерявшей актуальность.
Результатом будет **[документ](https://docs.google.com/document/d/1Tw-DxJ_MxU0QlZzmWW951YWmF-DdoZ0EOEAGY2bxuaA/edit?usp=sharing)** для последующего использования в презентации, #22
Содержимое документа должно быть описанием [диаграммы](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Futransnet_concept.xml) (это новая книга диаграмм, общий

[2017-11-20 18:26] cptn-solo commented on #19
Выполнение этой задачи остановлено, т.к. она потеряла актуальность. Скилл переносится на #24

[2017-11-20 18:26] #19 closed, assigned to cptn-solo

[2017-11-20 18:29] cptn-solo commented on #24
Перенесен скилл из исходной задачи #19
BLOCK #21813170 cptn-solo, до конца 17 ноября 2017 (пятница), 350 скилл

[2017-11-20 22:28] cptn-solo commented on #24
Набросал план в [документе](https://docs.google.com/document/d/1Tw-DxJ_MxU0QlZzmWW951YWmF-DdoZ0EOEAGY2bxuaA/edit?usp=sharing), завтра попытаюсь наполнить разделы содержанием (максимально компактно). Если удастся - перерасхода не будет. Если нет - прийдется добавить скилл в задачу по проработке схемы вознаграждения ( #16 ) , либо в какую-то управленческую задачу, т.к. приходится совмещать креатив с

[2017-11-21 22:47] cptn-solo commented on #24
@alecvert просьба [ознакомиться](https://docs.google.com/document/d/1Tw-DxJ_MxU0QlZzmWW951YWmF-DdoZ0EOEAGY2bxuaA/edit?usp=sharing) и начать итерацию комментирования.

[2017-11-22 09:01] cptn-solo opened #25 "[ВАКАНСИЯ] Веб-разработчик, верстка (html/css + js)"
Набор требований, обычно присутствующий на hh.ru и в целом применимый к нашим потребностям:

- отличные знания HTML5/CSS3, JavaScript;
- умение верстать адаптивно-отзывчивые шаблоны;
- умение создавать валидную кроссбраузерную верстку;
- наличие опыта работы с Bootstrap и Foundation ([текущая платформа](https://github.com/u-transnet/www-teaser/wiki/Технологическая-платформа-для-сайта-(для-соискате

[2017-11-22 09:10] cptn-solo commented on #20
Под верстальщика и вообще - под веб-разработку создал #25

[2017-11-22 09:41] cptn-solo commented on #16
Все же решил переоткрыть и провести через скилл, т.к. обкатка процесса заняла в общей сложности больше, чем день и это сильно повлияло на мою загрузку и выполнение основных задач по концепту.

[2017-11-22 09:45] cptn-solo commented on #16
BLOCK #22010676 cptn-solo 21 ноября 2017 (обкатка схемы с командой)

[2017-11-22 18:00] cptn-solo opened #26 "Итерация №2 по Методологии токенизации"
Основная задача #18

Доработки **[документа](https://docs.google.com/document/d/1BW7PJPcx_vZhYGBWm-WWfdLe6WyZ-8RCzXY3ZnB1OSU/edit?usp=sharing)** по комментариям от коллег

[2017-11-22 18:01] cptn-solo commented on #18
Результат фиксируем, доработки в рамках итерации №2 в задаче #26

[2017-11-22 18:01] #18 closed, assigned to cptn-solo

[2017-11-22 18:11] cptn-solo commented on #18
BLOCK #21809586 cptn-solo - в счет авансового платежа

[2017-11-22 18:12] cptn-solo opened #27 "Итерация №2 Краткая аннотация концепции"
Исходная задача #19
Продолжаем дорабатывать **[документ](https://docs.google.com/document/d/1l6Diyh6LHDPS6ecIdXN7O7ZeY5jouPTbhoidnRgOjvY/edit)** по комментариям коллег
(был еще [документ](https://docs.google.com/document/d/1Tw-DxJ_MxU0QlZzmWW951YWmF-DdoZ0EOEAGY2bxuaA/edit?usp=sharing), но плавно превратился в ^^)

[2017-11-22 18:13] cptn-solo commented on #24
Переходим к следующей итерации #27

[2017-11-22 18:13] #24 closed, assigned to cptn-solo

[2017-11-22 18:15] cptn-solo commented on #24
BLOCK #21809586 cptn-solo - в счет авансового платежа

[2017-11-22 18:41] cptn-solo commented on #25
Принят @EvgeniyPolyakov, задача закрывается до возникновения потребности в дополнительных ресурсах (ориентировочно - декабрь/январь)

[2017-11-22 18:41] #25 closed, assigned to cptn-solo, alecvert, jackal1527

[2017-11-22 18:42] cptn-solo commented on #21
@matusdesign @RomaRAD приняты.
Закрываю.

[2017-11-22 18:44] cptn-solo commented on #20
@jackal1527 @alecvert парни, ребят взяли, т.ч. пока вакансии закрываем, при необходимости - переоткрываем, актуализируем - и используем повторно. ссылки на закрытые задачи тут остаются, эта задача не закрывается. Сюда кстати можете писать планы по ресурсам, если придумаете кто нам нужен еще

[2017-11-22 18:50] cptn-solo opened #28 "Модификация стратегии размещения - MPA в кач-ве обеспечения токенов АП"
Продумать и прорисовать в диаграммах возможность/преимущества экономики, построенной на токенах адресных проектов, выпускаемых под залог базового проекта запуска и развития платформы (токена "нулевого окна")
Сформулировать и зафиксировать в [документе](https://docs.google.com/document/d/1L7Ux8Qz7oLL9dLU-3sSKvzejdvVYOKQk1SYeHBpfRTM/edit?usp=sharing) и [книге диаграмм](https://www.draw.io/#Hu-transn

[2017-11-22 18:52] cptn-solo commented on #28
К концу пятницы, 24 ноября 2017 (два дня) попытаюсь

[2017-11-22 19:01] cptn-solo commented on #28
BLOCK #22021755 cptn-solo 350UTDEV.SKILL до 24 ноября 2017

[2017-11-24 09:36] cptn-solo commented on #2
Создана задача, в рамках которой проводится проработка стратегии размещения #28

[2017-11-24 15:56] cptn-solo opened #29 "Рассмотреть вариант вывода токена на платформу NEO"
В дополнение к Bitshares можно рассмотреть вариант и процедуру вывода нашего токена на NEO, оценить трудозатраты, финансовые затраты, понять особенности сообщества и маркетинга в нем.

[2017-11-24 15:57] kkrupovich commented on #29
тест @alecvert

[2017-11-24 18:28] alecvert commented on #29
$NEO Projects

- HPB
- ElastOS @Elastos_org
- Ontology @OntologyNetwork
- NEX @neonexchange
- Stokit TBA
- Qlink @QlinkMobi
- TheKey @thekeyvip
- Red Pulse @red_pulse_china
- DeepBrain TBA
- AlphaCat TBA
- PeerAtlas @PeerAtlas
- Universal Health Coin @UHCToken

[2017-11-27 13:56] cptn-solo commented on #27
Вариант от @githleo с примененеием общих правок (но без сохранения истории исправлений, т.к. это новый документ) - **[документ](https://docs.google.com/document/d/1l6Diyh6LHDPS6ecIdXN7O7ZeY5jouPTbhoidnRgOjvY/edit)**
@alecvert я в общем внес некоторые коррективы, имхо сейчас вполне норм.

[2017-11-27 20:05] cptn-solo commented on #20
Так, @jackal1527 @alecvert переоткрываю #21 т.к. один боец оказался так себе, не боец.

[2017-11-27 20:06] cptn-solo commented on #21
@matusdesign не оправдал ни наших надежд, ни мы его, по всей видимости. Посему вакансия открыта, описание задачи корректирую под актуальные потребности. Результаты собеседований - в [исходную задачу по подбору](https://github.com/u-transnet/www-teaser/issues/16)

[2017-11-28 05:51] cptn-solo commented on #28
Фиксируем результат и начинаем детализацию и описание в рамках 2-й итерации ( #30 )
Текущую итерацию закрываем, оплата в рамках аванса:
BLOCK #21809586 cptn-solo

[2017-11-28 06:16] cptn-solo commented on #27
@githleo коллега. Включи пожалуйста возможность редактирования по ссылке, чтобы я мог внести изменения. Теперь это твой документ, поэтому у меня нет прав.

[2017-11-28 08:55] cptn-solo opened #30 "Итерация №2 Модификация стратегии размещения - детализация и описание"
Работаем над детализацией результатов 0-й итерации ( #28 )

Сформулировать и зафиксировать в [документе](https://docs.google.com/document/d/1L7Ux8Qz7oLL9dLU-3sSKvzejdvVYOKQk1SYeHBpfRTM/edit?usp=sharing) и [книге диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Funity_concept.xml) (лист MPA ECONOMY, модифицируем диаграмму M2. Подключение к Пространству новых Проектов) изменения

Итак.
1.

[2017-11-28 08:59] #28 closed, assigned to cptn-solo

[2017-11-28 09:22] cptn-solo commented on #30
Итерация рассчитана на 3 дня (с учетом потраченных двух и завтрашнего), до конца 29 ноября 2017, потом смотрим что осталось и планируем следующую.
BLOCK #22182568
TRANSFER |  
From | cptn-solo
To | utd-architect
Quantity | 525.00000 UTDEV.SKILL

[2017-11-28 09:42] cptn-solo commented on #21
Нет, все-таки закрываем вакансию. Остается @RomaRAD на фуллтайм

[2017-11-29 10:45] cptn-solo commented on #21
@jackal1527 @alecvert
Все-таки переоткрываем. Поток работ зашкаливает (см. [задачи с тегом art](https://github.com/u-transnet/www-teaser/issues?q=is%3Aopen+is%3Aissue+label%3Aart))

[2017-11-29 17:37] cptn-solo commented on #27
@githleo @alecvert коллеги, перенес финальный текс в [wiki](https://github.com/u-transnet/info/wiki/1.-Концепция-продукта)

Для wiki изображения будут браться отсюда:

<img width="679" alt="screen shot 2017-11-14 at 17 41 59" src="https://user-images.githubusercontent.com/1105555/33389873-41d27072-d545-11e7-8717-3cdc45e56ef0.png">

[2017-11-29 21:16] cptn-solo opened #31 "[ВАКАНСИЯ] Системный аналитик (системный архитектор)"
Наше текущая веха на Дорожной Карте развития продукта вплотную приближается к наиболее ответственному и захватывающему этапу - [разработке технологического прототипа](https://github.com/orgs/u-transnet/projects/2#card-5900215) - и потому наша команда объявляет поиск специалиста, который сможет взять на себя роль аналитика и архитектора этого направления работ.
Смысл создания технологического прото

[2017-11-29 21:58] cptn-solo opened #32 "Поиск, отбор и собеседования с кандидатами на позицию системного аналитика/архитектора"
Вакансия #31 , регистрируем кандидатов, получаем представление об ожиданиях кандидатов.
Ориентировочная ставка на hh - от 80-90т.р., но я по опыту знаю, что это обычно взрослые люди, и сумма меньше $2.5К им вряд-ли будет интересна (но это не значит, что мы не можем взять гика, которому эта работа интересна сама по себе с точки зрения самореализации)

[2017-11-29 22:09] cptn-solo commented on #20
@alecvert #32 начинаем собеседовать.

[2017-11-29 22:10] cptn-solo commented on #20
@alecvert
Надо зафиксировать где-то схему роста:
[собеседование] - 0.5 ~ 0.6 - 0.7 - 0.8 - 0.9 - 1.0 ~ [собеседование]
где 0.5-1.0 - это доля UTDEV.SKILL от максимально возможной для бюджетной позиции, соответствующей этой вакансии, передаваемая сотруднику в качестве месячного объема квалификационного токена для исчисления дневной ставки исходя из 1/20 месячного объема.
Например, если макс. ставка

[2017-11-29 22:13] cptn-solo opened #33 "[ВАКАНСИЯ] Автор текстов и презентаций (журналист, обозреватель)"
После обсуждения с @alecvert  фиксируем такой текст вакансии:

**Журналист / Редактор / Копирайтер в блокчейн-проект с перспективой роста**

Наша команда ищет талантливого журналиста для представления с точки зрения языка маркетинга и продвижения концепции, описания образа продукта для обычного пользователя, а также оперативное создание заметок, статей и т д постоянного всестороннего освещения про

[2017-11-29 22:23] cptn-solo opened #34 "Поиск автора/журналиста/обозревателя"
Вакансия #33
Ищем, собеседуем, формируем понимание ожиданий.

[2017-11-29 22:23] cptn-solo commented on #33
Собеседования тут #34

[2017-11-30 09:46] alecvert commented on #33
@kkrupovich исправляю на свой манер

Журналист / Редактор / Копирайтер в блокчейн-проект

Наша команда ищет талантливого журналиста для корректировки с точки зрения языка маркетинга и продвижения концепции, описания образа продукта для обычного пользователя, а также формирование заметок и статей постоянного всестороннего освещения процесса разработки и продвижения продукта во всех информационных п

[2017-11-30 10:20] cptn-solo opened #35 "Технологический прототип, разработка спецификаций и инструкций к сборке"
В рамках данной задачи необходимо получить спецификацию на комплектование и сборку технологических прототипов объектов типового сегмента сети TRANSNET. Комплектующие должны быть доступны для приобретения любым желающим в розничной сети. Сборка должна быть возможна без применения специальных средств сложнее обычных слесарных инструментов и паяльника.

Подробнее о назначении данного прототипа можно

[2017-11-30 14:15] cptn-solo commented on #30
@alecvert аннотировал две большие диаграммы, залил скриншоты и описания в [документ](https://docs.google.com/document/d/1L7Ux8Qz7oLL9dLU-3sSKvzejdvVYOKQk1SYeHBpfRTM/edit?usp=sharing), вечером продолжу

[2017-11-30 17:46] alecvert commented on #20
@kkrupovich Надо зафиксировать где-то схему роста:
[собеседование] - 0.5 ~ 0.6 - 0.7 - 0.8 - 0.9 - 1.0 ~ [собеседование]
Да, поддерживаю

[2017-11-30 18:18] cptn-solo commented on #20
@alecvert

Выкатил в [вики](https://github.com/u-transnet/info/wiki/2.1.-Рост-в-команде), но важно (на мой взгляд) стараться все-таки фиксировать максимальную ставку и искать кандидатов под нее, а не плясать под дудку любителей прокатиться на ICO

[2017-12-01 09:46] cptn-solo commented on #30
Что получилось и не получилось:

Внес пока только в генезис на листе MPA-ECONOMY, можно дополнительно внедрить этот подход во все ранние диаграммы

Есть начало этих сценариев в описании диаграммы M5 (и в документе) - но нужно добавлять диаграммы процессов.

3.1. Фиксируем теоретическую возможность свободного майнинга в рамках u-transnet заверителями, заголосованными в сеть (0.5 дня).

добавил в оп

[2017-12-01 09:47] cptn-solo opened #36 "Итерация №3 Модификация стратегии размещения - детализация и описание"
Пред. итерация #30

[2017-12-01 09:49] cptn-solo commented on #30
Продолжаем в #36
Текущую итерацию закрываю, оплата в счет аванса на 2ю половину ноября
BLOCK #21809586 cptn-solo

[2017-12-01 09:49] #30 closed, assigned to cptn-solo, alecvert

[2017-12-03 06:27] cptn-solo commented on #36
Фиксирую план на итерацию (по результатам обсуждения с @LastWarrior , скетч "Бизнес-Архитектура").

1. Показать поток Адресных Проектов TRANSNET SPACE, реализуемых в блокчейне U-TRANSNET, в виде Программы Проектов (в концепции open.team - @LastWarrior вот здесь должна была быть ссылка на организацию OpenTeam на github);

2. Показать роль гарантов (эскроу), выполняемую Заверителями блокчейна U-TRAN

[2017-12-04 09:48] cptn-solo commented on #36
Скил обозначаю за весь прошедший с окончания предыдущей итерации период, т.к. вся работа над концептом идет параллельно с управлением проектом. Пока бОльшая часть трудозатрат уходит на управление. По мере выравнивания темпа команды итерации будут более качественные.
Ориентируюсь на окончание итерации сегодня к концу дня, 4 декабря 2017, т.е. 3 дня (фактически получилось позаниматься концептом не б

[2017-12-04 21:33] cptn-solo commented on #36
@alecvert весьма сильно прошелся по листу MPA-ECONOMY, удалил паука вообще, расширил и актуализировал описание диаграмм. Дальше попытаюсь составить какое-то целостное описание в виде документа, опубликованного ранее - но т.к. диаграммы изменились - будет практически полностью новый документ.

[2017-12-05 22:00] cptn-solo commented on #2
По сути, до сих пор мы проектировали только внутренние механизмы финансирования и эксплуатации инфраструктурных и адресных проектов. Теперь мы подошли к анализу привлечения в проект внешних крипто-инвесторов, заинтересованных в эмиссии активов инфраструктурных и адресных проектов TRANSNET SPACE по мере запуска этих проектов.
Важно понимать, что выводимый на внешний рынок базовый актив блокчейна по

[2017-12-06 07:45] cptn-solo commented on #2
Фиксируем с @alecvert вариант решения - в распределении участвует не базовый актив, а транзитный актив первого инфраструктурного направления - UIA UTECH.UTCORE. Участникам процедуры распределения будет предоставляться возможность востребования транзитного актива на свой счет в u-transnet и далее либо обменять его на MPA UTCORE 1:1 (если это будет экономически выгодно, т.к. UTCORE привязывается к U

[2017-12-06 08:53] cptn-solo commented on #2
Создал [задачу](https://github.com/u-transnet/codebase/issues/4) на реализацию ERC20 и процедур распределения и востребования.
Создал [задачу](https://github.com/u-transnet/codebase/issues/39) на шлюз под транзитный инфраструктурный токен между u-Transnet и Bitshares.

[2017-12-06 12:53] cptn-solo opened #37 "[ВАКАНСИЯ] Fullstack web-разработчик (front-end/back-end)"
Наш продукт строится на нескольких Opensource API ([Python](https://github.com/u-transnet/python-utransnet), [JS](https://github.com/u-transnet/bitsharesjs-ws)). Архитектурно продукт является web-приложением, фактически - точкой доступа в блокчейн на Graphene.
Эти факторы являются определяющими для требований, предъявляемых к кандидатам:

**Требуется:**
- Знать и уметь Python
- Знать и уметь Javas

[2017-12-06 13:19] cptn-solo commented on #20
Для публикаций хочу использовать картинку
<img width="231" alt="screen shot 2017-12-06 at 16 17 47" src="https://user-images.githubusercontent.com/1105555/33663552-7b51c81e-daa1-11e7-8abf-1447452b3af3.png">

просьба не удалять коммент

[2017-12-06 13:27] cptn-solo opened #38 "Подбор и собеседования full-stack web-dev"
Смотрим кандидатов по #37 , отписываемся, вносим корректировки в вакансию

[2017-12-08 08:24] cptn-solo commented on #36
@alecvert
В итоге, вышли на задачу, созданную чуть ли не в самом начале проекта #2
Постараюсь сегодня актуализировать список задач по итерации и выйти на следующую.
Результат моделирования вывода стейка под размещения первого инфраструктурного актива (например, через ERC20) доступен в [гугло-книге](https://docs.google.com/spreadsheets/d/1IM2VzQZPyPGbC2dVHi5LKzZFDk9jeRN7BypVvfDEhdw/edit?usp=sharing

[2017-12-11 22:47] cptn-solo commented on #2
@alecvert по хорошему надо рассмотреть еще один сценарий распределения - выставление ордеров на продажу по максимально доступной цене через заданные промежутки времени. Сценарий предполагает наличие шлюзов (например, в крипту, но можно использовать и UIA на фиатные валюты при наличии аффилиатов, готовых участвовать в качестве фонда, аккумулирующего фиат) или p2p обменников на валютные MPA.  Тогда

[2017-12-12 07:11] alecvert commented on #2
@kkrupovich то есть по сути модель децентрализованного размещения?

[2017-12-12 07:32] alecvert commented on #2
@kkrupovich надо помнить, что заверитель под стейк может выпустить токен направления или АП, но не ютт актив usd,  и т д

[2017-12-12 09:37] cptn-solo commented on #2
@alecvert

по сути - да, т.к. мы в такой схеме управляем продажей токена направления, но не его покупкой. Если мы будем выставлять в микро-окнах ордера на продажу в p2p рынках (uttUSD, etc) - то участвовать смогут абсолютно все держатели uttUSD, получившие их любым доступным способом. Плюс, в случае реализации стандартных трастовых шлюзов, например, ETH/BTC, участниками будут все желающие, зашедши

[2017-12-13 08:34] cptn-solo commented on #36
Подводим итог итерации:
От предыдущей итерации #30 оставался ряд вопросов, почти все они так или иначе отработаны:
- добавлена диаграмма процесса запуска АП ([книга диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Fdrawings%2Fconcept-full.xml), MPA-ECONOMY, M7)
- добавлена диаграмма процесса запуска токена нового инфрастр. направления на ERC20 (MPA-ECONOMY, M8)
- свободный майнинг показ

[2017-12-13 11:04] cptn-solo opened #39 "Локализация диаграммы размещения (M8)"
[Книга диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Flocalization%2Funity_concept.xml), выгруженная в бранч под локализацию.
Лист MPA-ECONOMY (2й).
Диаграмма M8 - схема размещения через ERC20 токен на блокчейне Ethereum

[2017-12-13 13:36] cptn-solo commented on #39
@KozlovaMyr спасибо, забрал версию, выгрузил @alecvert в png переведенный фрагмент
@alecvert если найдешь косяки - просьба в комментах к этой задаче перечислить, доработаем.

[2017-12-13 15:21] cptn-solo opened #40 "Итерация №4 Модификация стратегии размещения - сведение в документ результатов 3-ей итерации"
Берем результат #36 и сводим в [документ](https://docs.google.com/document/d/1L7Ux8Qz7oLL9dLU-3sSKvzejdvVYOKQk1SYeHBpfRTM/edit?usp=sharing), нарезаем иллюстрации в эту задачу, и отсюда вставляем в wiki в документ экономики токена, или что-то в этом роде.

[2017-12-13 15:25] cptn-solo commented on #36
скилую 5-13 декабря, 7 дней
С завтрашнего дня считаем начало следующей итерации #40 , но оставлю в ней только сборку документа. Уже есть отдельные задачи-направления, буду создавать и скиловать их.
Модификация диаграмм будет производиться в бранчах под код диаграммы, сливать в мастер буду в единый файл общей книги диаграмм. Иначе будет трэш, книга очень разрослась, и сложно отслеживать атомарные и

[2017-12-13 15:25] #36 closed, assigned to cptn-solo, alecvert

[2017-12-17 22:18] cptn-solo commented on #34
@cheredin результат собеседования:
Cмотрим примеры наших текстов, формулируем первую задачу, пробуем выполнить и решаем, куда двигаться дальше.
Макс. ставку фиксируем в эквиваленте $520, схема роста согласно [wiki](https://github.com/u-transnet/info/wiki/2.1.-Рост-в-команде)
Задачу готовим совместно с @cheredin до конца 19 дек 2017

[2017-12-18 17:43] cptn-solo commented on #34
@NYalinski принят
BLOCK #22762601
TRANSFER |  
From | ut-dev
To | n-yalinski
Quantity | 590.00000 UTDEV.SKILL
Memo / Message | контракт на 2 недели (дневная ставка 590/10=59), по окончинии объема контракта пересмотр условий

[2017-12-18 20:24] cptn-solo commented on #34
@cheredin принят
BLOCK #22765844
TRANSFER |  
From | utd-content
To | cheredin1
Quantity | 260.00000 UTDEV.SKILL
Memo / Message | контракт на 1 месяц (дневная ставка 260/20=13), по окончинии объема контракта пересмотр условий

[2017-12-18 20:42] cptn-solo commented on #26
BLOCK #22766164
TRANSFER |  
From | cheredin1
To | utd-content
Quantity | 13.00000 UTDEV.SKILL
Смотрим днем 20 декабря 2017

[2017-12-20 10:08] cptn-solo commented on #26
Результаты:
- @cheredin представил [документ](https://docs.google.com/document/d/1fR1qW4LaRFV7QaWyRp_Mnp3oX1sFxpgznh0aUgjnWXs/edit?usp=sharing), полученный им путем копирования исходного с применением всех правок в него на тек. момент
- Обсудили результат и подход к работе
-  обозначили направление доработок документа (выявление и исправление стилистических несоответствий)
- договорились именовать

[2017-12-20 10:12] cptn-solo commented on #26
BLOCK #22811082

TRANSFER |  
From | cheredin1
To | utd-content
Quantity | 26.00000 UTDEV.SKILL

[2017-12-21 14:16] cptn-solo opened #42 "Видеоролик на 1.5-2 минуты"
Это НЕ КЛИП. Привлекаем внимание не к исполнителю, а к сюжету, продукту:
- концентрированная воронка, затягивающая и дающая понимание
- иллюстрация к тому, что мы делаем
- показал - потом начинаешь комментировать (вебинар, конференция)

Сюжет
- глоссарий (начат [тут](https://github.com/u-transnet/info/wiki/Глоссарий))
- 1-2 страницы - что мы делаем, в чем продукт (создал задачу #44 )
- технологиче

[2017-12-21 18:33] cptn-solo opened #43 "Экономика блокчейна u-transnet"
Формулируем экономику блокчейна, показываем генезис токенов, находящихся в обращении в Открытом пространстве, источник и финансирования инфраструктурных направлений и адресных проектов, стимулы участников экономического процесса.

Работаем в документе [**Экономика блокчейна U-TRANSNET**](https://docs.google.com/document/d/1MY6t3HQaXxswPes2GMhj5cWVQy6Gv2zpiZlyoKofWxY/edit?usp=sharing)

Рабочие мате

[2017-12-21 19:03] cptn-solo commented on #43
@cheredin просьба закинуть скилл пока на день, завтра до конца дня определимся по направлению работы над этим документом.

[2017-12-21 19:07] cptn-solo commented on #26
В итоге не удалось получить что-то сильно отличающееся от исходной версии, поэтому пока работы над документом прекращаем.

BLOCK #22850477
TRANSFER |  
From | utd-content
To | cheredin1
Quantity | 26.00000 UTDEV

Спасибо за попытку.

[2017-12-21 19:07] #26 closed, assigned to cptn-solo, cheredin

[2017-12-21 19:21] cptn-solo commented on #43
BLOCK #22850539
TRANSFER |  
From | cheredin1
To | utd-content
Quantity | 13.00000 UTDEV.SKILL

[2017-12-24 14:15] cptn-solo opened #44 "Текст описания продукта под задачу разработки видеоролика"
Это подзадача #42

1-2 страницы - что мы делаем, в чем продукт:

Предлагаю попробовать написать [**документ**](https://docs.google.com/document/d/1G368dIb6VuuNMyE2NbsXdgIuh7bkcevjujxoxkz-yko/edit?usp=sharing) и согласовать его. Возможно, этот же текст потом воткнем в одну из страниц сайта в качестве детализированного описания какого-нибудь раздела (Например, "Описание системы")

[2017-12-24 23:03] cheredin commented on #42
В ролике основными понятиями выделил бы: демократия, децентрализация, открытость.
И отдельно: универсальность.
пока есть такая идея, немного сумбурно, но все же.
Ролик примерно на 2 минуты. Каждая веха времени характеризуется своей цитатой какого-нибудь великого человека о демократии. Что значило это слово в античности, в средние века, в 18 веке (допустим), в 20 веке, и что значит сейчас.
Эти цита

[2017-12-25 11:36] cptn-solo commented on #42
@cheredin спасибо за видос. Еще один могу бахнуть :) тоже без привязки - но в целом - тоже за децентрализацию и "демократию"
https://twitter.com/TeamSteemLive/status/943238415239270400

Но предлагаю на этом дискуссию здесь закончить, т.к. ИМХО в задаче вообще не сформулирована цель разработки ролика, и любые наши домыслы только усугубят проблему.
PS: на ск. помню цель разработки была озвучена в со

[2017-12-25 16:30] nat-brit opened #45 "Координация работ по сайту и контенту"
### Задачи в рамках потоков работ:
### Сайт:
- макет, шапка, цветовая схема, [верстка](https://github.com/u-transnet/www-teaser/issues/73), [содержание](https://github.com/u-transnet/www-teaser/issues/61).
### Контент:
- сайт, видео, глоссарий, сведение концепции, тексты для презентаций.
### Участие в собеседованиях

[2017-12-25 16:49] nat-brit commented on #45
BLOCK #22962292
TRANSFER |  
From | bkmfk
To | utd-pm
Quantity | 875.00000 UTDEV.SKILL
Работы до 29 декабря 2017

[2017-12-25 18:26] cptn-solo opened #46 "Координация работ по разработке движка и экономике платформы"
Потоки работ:
- [алгоритмы](https://github.com/u-transnet/info/issues/2) распределения токена, стратегия размещения токенов направлений
- [шлюзы](https://github.com/u-transnet/codebase/issues/48), [движки](https://github.com/u-transnet/codebase/issues/43) распределения токена (бот + ERC20)
- [экономика](https://github.com/u-transnet/info/issues/47) токенов направлений - монетизация в целевом блокч

[2017-12-25 22:12] cptn-solo commented on #46
@alecvert скилл я сюда не закладываю, т.к. аванс до конца месяца уже выплачен и постфактум скилл смысла заводить нет.
По факту задача в работе с 18 декабря, и будет основной до 29 декабря включительно. С нового года перехожу на пост-оплату, скилл запросил, просьба подтвердить транзакцию на учетке utd-architect:

CREATE PROPOSAL |  Proposed operations | Transfer 3,500.00000 UTDEV.SKILL from utd-arc

[2017-12-25 22:28] cptn-solo opened #47 "Сценарий монетизации токенов инфраструктурных направлений"
Проработать подход к децентрализации финансирования разработки платформы (UTCORE) и Игры (UTGAME):
- проработка регламента размещения инфраструктурных токенов платформы (UTCORE / UTGAME) в паре к UTDEV (включая ведение перечня допущенных к рынку учеток - whitelisting)
- утверждение механизма финансирования разработки путем выкупа ресурсных активов (UTDEV) внешними инвесторами в рынках DEX
- прораб

[2017-12-25 22:55] cptn-solo commented on #47
Готовлю диаграмму под регламент в бранче [models-mpa-economy-i1-i2](https://www.draw.io/#Hu-transnet%2Finfo%2Fmodels-mpa-economy-i1-i2%2Fdrawings%2Fconcept-mpa-economy-i1-i2.xml), по мере готовности буду сливать в мастер. Сам выкуп UTDEV и инвестирование его в UTCORE уже есть (i1)

см. лист "расчет транзита" в [книге](https://docs.google.com/spreadsheets/d/1IM2VzQZPyPGbC2dVHi5LKzZFDk9jeRN7BypVvfDE

[2017-12-25 22:58] #27 closed, assigned to cptn-solo

[2017-12-26 17:47] alecvert commented on #46
@kkrupovich подтвердил

[2017-12-27 07:53] cptn-solo commented on #43
@cheredin дружище, все сроки уже прошли, на контакт ты не выходишь, полагаю, мы тебя потеряли?

[2017-12-27 21:40] cptn-solo commented on #47
@alecvert Прорисовал [i2](https://www.draw.io/#Hu-transnet%2Finfo%2Fmodels-mpa-economy-i1-i2%2Fdrawings%2Fconcept-mpa-economy-i1-i2.xml) (I2. Конвертация токенов направлений U-TECH в базовый актив U-TRANSNET (на примере UTCORE)), показал даже необходимость корректировки залоговой позиции UTCORE<UTT> заверителями по мере запроса расчета (settlement) держателями (инвесторами)  - но остается вопрос -

[2017-12-29 09:57] cptn-solo opened #48 "Перевод вакансии Fullstack web-разработчик"
Переводим вакансию #37 на английский язык.
Процесс в [**документе**](https://docs.google.com/document/d/1Om3VG7bc7inkAJaOH7goOI2HWcxK0E7KZp5woTx0o-A/edit?usp=sharing)

[2017-12-29 12:52] nat-brit commented on #45
**По контенту:**
[Обзор документов на GitHub, полезные ссылки](https://docs.google.com/document/d/1y8a8kAjcawgG5EQ8szpiKSV_7Bi1jQ68j_E75f4g2DQ/edit)
[В концепцию](https://docs.google.com/document/d/1lCzMXEuHpWVg6STG4MXNfe1TM-t1gdjX_1a58geMh_Y/edit?usp=sharing)
[Тексты для сайта - логика, наброски](https://docs.google.com/document/d/1hAgcv3REB7H0T6E_Nx1eDO718lG49JmUla21ClTXtdY/edit?usp=sharing)

**

[2017-12-29 15:24] cptn-solo commented on #43
@Arteg0r @nat-brit коллеги, надо искать исполнителя

[2017-12-29 20:27] cptn-solo commented on #45
@nat-brit
BLOCK #23080122
CREATE PROPOSAL |  
Proposed operations | Transfer 875.00000 UTDEV from utd-pm to bkmfk
BLOCK #23080527
Active approvals to add | cptn-solo
BLOCK #23080518
Active approvals to add | arteg0r

Спасибо!
Надо формулировать следующую задачу и закидывать на нее скилл.

[2017-12-29 20:27] #45 closed, assigned to nat-brit

[2017-12-30 01:15] cptn-solo commented on #46
По алгоритмам ничего особо нового не добавилось, это по прежнему окна распределения, реализованные в виде ERC20 или бота-аукционера. Однако в процессе проработки экономики (см. ниже) стали более очевидны преимущества бота с точки зрения мотивации ранних инвесторов - похоже, спрос на базовый актив действительно будет подогреваться возможностью участия в эмиссии и продаже токенов новых направлений и

[2017-12-31 10:12] cptn-solo commented on #34
@KozlovaMyr принята
BLOCK #23124205
TRANSFER |  
From | ut-dev
To | mkmk940201
Quantity | 500.00000 UTDEV.SKILL
Memo / Message | контракт на 500/20=25 скилл за день работы, после окончания пересмотр (пока исходим из максимальной ставки 1000 и рост по схеме https://github.com/u-transnet/info/wiki/2.1.-Рост-в-команде - т.е. следующая ставка будет 600)

[2017-12-31 10:21] cptn-solo commented on #48
@KozlovaMyr просьба заскилловать и дополнительно предлагаю результатом считать новую задачу/вакансию по образцу #37 но на английском языке с текстом, который готовится в документе из шапки

[2017-12-31 10:39] KozlovaMyr commented on #48
BLOCK #23124707
TRANSFER
From | mkmk940201
To | utd-content
Quantity | 25.00000 UTDEV.SKILL
смотрим 31 декабря

[2018-01-03 23:01] cptn-solo opened #49 "Координация работ по запуску пре-альфа генезисов блокчейна u-Transnet"
Предыдущий рапорт с мостика был тут #46

Как бы нам этого ни хотелось, но все-таки откладывать запуск блокчейна смысла нет - нам нужно проверять кучу гипотез по воркерам, "майнингу" и шлюзам на доверии заверителям.
Что хотелось бы получить, или хотя бы сформулировать задачи:
### Разработка
- Расширенный [набор скриптов](https://github.com/u-transnet/Gateway/issues/6) для узлов сети (заверителей) -

[2018-01-03 23:08] cptn-solo commented on #49
@alecvert @Arteg0r @nat-brit
BLOCK #23225798
TRANSFER |  
From | cptn-solo
To | utd-architect
Quantity | 350.00000 UTDEV.SKILL
До конца недели, 7 января включительно, возьму два дня, включая рисование i3

[2018-01-03 23:10] cptn-solo commented on #46
Следующий выпуск новостей ожидаем в #49

[2018-01-03 23:10] #46 closed, assigned to cptn-solo

[2018-01-04 10:53] nat-brit opened #50 "Координация работ по контенту,"
**По контенту:**
По контенту из [прошлой](https://github.com/u-transnet/info/issues/45)
[Обзор документов на GitHub, полезные ссылки](https://docs.google.com/document/d/1y8a8kAjcawgG5EQ8szpiKSV_7Bi1jQ68j_E75f4g2DQ/edit)
[В концепцию](https://docs.google.com/document/d/1lCzMXEuHpWVg6STG4MXNfe1TM-t1gdjX_1a58geMh_Y/edit?usp=sharing)
[Тексты для сайта - логика, наброски](https://docs.google.com/docume

[2018-01-04 11:11] nat-brit commented on #50
Block #23240273
From | bkmfk
To | utd-pm
Quantity | 1,400.00000 UTDEV.SKILL
До конца следующей недели 12 января включительно (всего 8 дней)
@kkrupovich  @alecvert @Arteg0r

[2018-01-08 06:39] alecvert commented on #49
@kkrupovich Возможно, именно в таком виде - журнал проекта от лица лидеров направлений - и надо стартовать освещение работы тру блокчейнов, коллеги? Да, но освещать нужно не только намерения , но и результаты. Преимущественно результаты. В начале каждого месяца/недели намерения на след. период времени, потом отчёт по результатам.

[2018-01-08 20:53] cptn-solo commented on #49
@alecvert @nat-brit @Arteg0r

безусловно результаты

[2018-01-09 11:32] icggithub commented on #42
Коллеги, высылаю предложение по структуре ролика.
https://docs.google.com/document/d/1gGhh0-6upc_kdpSU6NZITPXkf9TIEkTSAPpv2CmRy1g/edit?usp=sharing
Просьба: ссылку на ролик "Буран" нигде и никому "наружу" не светить. Пользоваться только для личного просмотра. Жду встречные комментарии. Спасибо.

[2018-01-09 11:51] nat-brit commented on #49
Результаты, которые хотелось бы получить за январь:
1. Запуск сайта-визитки, вкл. страницы с дорожной картой и концепцией, (вход в блокчейн - ??? тестовая страница с объяснением или записью на обучение (курс выходного дня для группы))
2. Готова концепция по корпоративному сайту
3. Готова концепция по блогу и соц.сетям, запущен канал в Телеграм
4. Готов контент план на февраль-март
5. Развернут бло

[2018-01-11 15:58] cptn-solo opened #51 "Логическое и текстовое наполнение стартовой страницы сайта transnet.tech"
В рамках #50 начата разработка [документа](https://docs.google.com/document/d/1YVSPuuhYEkJnb-Y-H7ADx6Qv96yKYGDDnarQ0iPUoXg/edit#), являющегося описанием всех блоков и текстов стартовой страницы сайта  transnet.tech. Документ необходим для использования в качестве отправной точки для модификации текущего макета полноразмерной версии сайта transnet.tech коллегами (@jackal1527 и @EvgeniyPolyakov)

@D

[2018-01-11 16:05] cptn-solo commented on #50
@nat-brit создал для @Dima-Iron задачу #51 , просьба рассмотреть возможность создания (с участием и помощью со стороны исполнителя и, возможно, с моей) еще двух задач на следующие 2 недели (можно заняться этим в понедельник по результатам #51 ):
- токенизация + экономика (предположительно выполнение на неделе 15-19 января)
- завершена структура сайта, включая дорожную карту (предположительно выпол

[2018-01-11 17:28] cptn-solo commented on #34
@Dima-Iron принят
BLOCK #23448521
TRANSFER |  
From | ut-dev
To | dima-iron
Quantity | 700.00000 UTDEV.SKILL
Memo / Message | Контракт на ставку 700/20=35 в день, исходим из 50% загрузки в день. По окончании объема контракта (или изменения % загрузки) пересмотр условий

[2018-01-11 17:59] Dima-Iron commented on #51
BLOCK #23449133
TRANSFER
Operation ID 
From | dima-iron
To | utd-content
Quantity | 175.00000 UTDEV.SKILL

смотрим в понедельник, 15 января 2018

[2018-01-11 21:39] cptn-solo commented on #49
@alecvert @nat-brit @Arteg0r
Результат, которого удалось пока добиться:

### Разработка

- cобрали [докер](https://github.com/u-transnet/Gateway/issues/6) для оптимизации процесса разработки скриптов,
- подготовили [задачу](https://github.com/u-transnet/witness-scripts/issues/2) под разработку самих скриптов.

- получил подтверждение от @mparkhomenko , что в ближайшие дни можно будет начинать тест

[2018-01-11 21:47] cptn-solo opened #52 "Координация запуска (продолжение) + экономика блокчейна"
Предыдущий отчет #49

Продолжаем готовить запуск, параллельно работаем над экономикой и документацией.

### Управление разработкой

- Вакансии (ядро, фронт, бэк, архитектор/PM для kit) - вообще - актуализировать [доску](https://github.com/u-transnet/info/projects/4?) по вакансиям совместно с @Arteg0r и @nat-brit
- обозначить курс на приведение конфигурации продукта к open source best practices ([н

[2018-01-11 22:06] cptn-solo commented on #49
@nat-brit @alecvert @Arteg0r

про курсы обучающие услышал, надо будет создать задачу (возможно для @nat-brit) на проработку экономики токена таких курсов (запуск токена направления с последующим созданием рынка и выкупом за активы, обеспеченные UTT.

Если под корпоративным сайтом мы понимаем приложение (кабинет) - то разве что концепцию можно успеть подготовить.

Реально (@nat-brit ?)

Реально (@n

[2018-01-12 09:17] nat-brit commented on #49
Нужен созвон по всем пунктам:)

[2018-01-12 09:21] cptn-solo commented on #49
@nat-brit @alecvert @Arteg0r , если принципиальных возражений нет, просьба выловить и подтвердить возмещение по этой задаче на учетке utd-architect:
BLOCK #23467328
CREATE PROPOSAL |  Review period begin | — Expiration time | January 13, 2018, 12:09:57 PM
Proposed operations | Transfer 350.00000 UTDEV from utd-architect to cptn-solo

BLOCK #23467701
UPDATE PROPOSAL |  Fee paying account | cptn-sol

[2018-01-12 09:33] Arteg0r commented on #49
@kkrupovich @nat-brit

Озвучу в понедельник план до конца месяца. Тогда же его и обсудим.

[2018-01-12 10:09] alecvert commented on #49
@kkrupovich
![image](https://user-images.githubusercontent.com/30151576/34869883-3af06e58-f7aa-11e7-8536-885129e5dc98.png)
не стоит такое в отчёт писать)

будем продолжать штурмовать

+
Пора заводить акк на медиуме, если нет и писать как технический лидер проекта, см. те отчёты , которые я сбрасывал в телеграмм. Причём, я думаю, что с переводом на англ, это будет переводить переводчик.

[2018-01-12 10:16] alecvert commented on #49
Текстовую страницу с объяснением или записью на обучение успеем подготовить? Это по сути новый лэндинг.

Корпоративный сайт или App ?

Телегу думаю, что пока не надо, Февраль-март.
Соц. сети после запуска сайта.
Блог на медиуме можно вести на рус. и англ. уже сейчас. Это наша история помимо гитхаба. Это нужно было сделать уже давно.

Контент план внутренний или внешний (СМИ и т д)?

Да, 100% думаю

[2018-01-12 11:45] Arteg0r opened #53 "[ВАКАНСИЯ] Ведущий геймдизайнер (экономическая стратегия/ситибилдер/мод для Майнкрафт)"
Команде блокчейн-энтузиастов требуется опытный и готовый к приключениям геймдизайнер для создания и проверки модели крипто-экономики в формате игрового продукта. Нужен герой, который умеет предлагать решения и защищать их, исследовать неизвестное, строить гипотезы и проверять их. Вместе с ним мы собираемся сделать весьма серьезную игру, которая, во-первых, поможет команде разработки проверить рабо

[2018-01-12 17:09] cptn-solo commented on #53
@Arteg0r @nat-brit @alecvert , забираем себе в блоги?

[2018-01-13 15:43] KozlovaMyr opened #54 "Translation of vacancy "Fullstack web-developer" #54"

[2018-01-13 16:00] KozlovaMyr opened #55 "[VACANCY] Fullstack web developer #55"
# Fullstack web developer

Our product is built up on several Open source APIs (Python, JS). Architecturally, the product is a web-application, in fact - an access point to a Graphene blockchain.

##  Our key requirements:

- Know and be able to Python
- Know and be able to Javascript
- Understanding the principles of OOP, design and refactoring patterns
- Qualification in MySQL databases, MongoDB

[2018-01-13 22:10] #54 closed, assigned to cptn-solo, KozlovaMyr

[2018-01-13 22:18] cptn-solo commented on #48
Результат - задача #55

@KozlovaMyr спасибо! @Arteg0r @nat-brit @alecvert у нас есть вакансия #37 (fullstack разработчик) на [английском](https://github.com/u-transnet/info/issues/55) языке.

BLOCK #23511704
TRANSFER |  
From | utd-content
To | mkmk940201
Quantity | 25.00000 UTDEV

[2018-01-13 22:18] #48 closed, assigned to cptn-solo, KozlovaMyr

[2018-01-13 23:26] cptn-solo commented on #49
@alecvert

Это палка о двух концах, коллега.

[2018-01-13 23:41] cptn-solo commented on #52
@nat-brit @Arteg0r @alecvert фактически работаю по этому плану начиная с четверга, 11 января, и контрольной датой предлагаю считать пятницу, 19 января 2018 (7 дней, 175скилл/день).

BLOCK #23513300
TRANSFER |  From | cptn-solo
To | utd-architect
Quantity | 1,225.00000 UTDEV.SKILL

[2018-01-14 10:35] nat-brit commented on #51
Задачу переводчику позже. По времени на работу с текстом получилось больше, пересчитаем по факту приемки задачи. Вот последний [вариант](https://docs.google.com/document/d/1yV0gj_Api5i7j1EXlf6xAfo8QiQFeDB1KzJ4ivo14Iw/edit), к понедельнику как договаривались будет закончен. Картинки, если честно, не очень ложатся. Надо додумать с оформлением. @kkrupovich @alecvert

[2018-01-14 11:55] nat-brit commented on #50
Отчет по 12 января и планы на ближайшую неделю 15-19 января.

1. **Сайт-визитка:**

- Практически закончили логику и тексты на [главную](https://docs.google.com/document/d/1yV0gj_Api5i7j1EXlf6xAfo8QiQFeDB1KzJ4ivo14Iw/edit),
- Сформировать задачи по внешнему виду и наполнению страниц (@kkrupovich @alecvert @Dima-Iron @jackal1527 ), предлагаю запланировать созвон во вторник:
1. - по экономике и токе

[2018-01-14 12:32] EvgeniyPolyakov commented on #55
draw -> web-design
type  -> markup

[2018-01-15 00:41] cptn-solo commented on #50
@nat-brit

@alecvert  уже создал [задачу про Арабский мир](https://github.com/u-transnet/www-teaser/issues/88) - вы об одном и том же говорите? или это разные по назначению заказы - один для презентации, другой для сайта?

можно регистрировать хоть сейчас - вопрос лишь в том, что изменения экономики целевого блокчейне, будет вноситься в уведомительном порядке -  вероятно, нужно сразу предусмотреть

[2018-01-15 10:26] cptn-solo commented on #51
@Dima-Iron @nat-brit @alecvert результат уходит в работу в [задачу переработки главной страницы](https://github.com/u-transnet/www-teaser/issues/89)
Текущую закрываем

BLOCK #23554978
TRANSFER |  
From | utd-content
To | dima-iron
Quantity | 175.00000 UTDEV

Спасибо!

[2018-01-15 11:10] nat-brit commented on #50
Да, задачи по арабскому миру и по доске с вакансиями - это именно задачи #88 и [эта доска](https://github.com/u-transnet/info/projects/4).
Игру тогда на главную страницу сайта пока не добавляем, про блог игрового направления - идея хорошая. Принято.
Если ни у кого вопросов по предыдущему периоду нет, предлагаю его закрыть и приступить к следующему: с 15 по 19 января включительно.

[2018-01-15 11:50] cptn-solo commented on #50
@nat-brit

@nat-brit @alecvert @Arteg0r коллеги, предлагаю подтвердить транзакцию на учетке **utd-pm**

BLOCK #23556527
CREATE PROPOSAL |  Proposed operations | Transfer 1,400.00000 UTDEV from utd-pm to bkmfk

BLOCK #23559717
UPDATE PROPOSAL |  Fee paying account | cptn-solo
Active approvals to add | cptn-solo

BLOCK #23559551
UPDATE PROPOSAL |  Fee paying account | bkmfk
Active approvals to add |

[2018-01-15 13:37] Dima-Iron opened #56 "Создание описания токенизации для сайта transnet.tech"
В рамках #50 продолжается разработка документов, являющихся описанием всех блоков и текстов сайта transnet.tech. Документы необходимы для использования в качестве отправной точки для модификации текущего макета полноразмерной версии сайта transnet.tech коллегами (@jackal1527 и @EvgeniyPolyakov)

Коллеги @kkrupovich @nat-brit @alecvert, по данной задаче нужен созвон - обсудить ТЗ, объём, логику и с

[2018-01-15 14:16] cptn-solo commented on #56
@Dima-Iron
По токенизации мы уже предпринимали несколько попыток сформулировать понятный документ, но тогда это делалось не для сайта - возможно, теперь пригодится: #26

[2018-01-15 15:11] cptn-solo commented on #52
@nat-brit @Arteg0r @alecvert
Хотел бы подвести промежуточные итоги за первую (короткую) послепраздничную неделю.
Как я уже отмечал ранее в #49 , основные усилия я сейчас концентрирую на проработке вопросов монетизации токенов направлений, децентрализации финансирования, запуску блокчейна u-Transnet. Особо хотелось бы отметить, что первая неделя 2018 была отмечена любопытным событием - о реализации

[2018-01-15 16:30] Dima-Iron commented on #56
BLOCK #23562089
TRANSFER  
From | dima-iron
To | utd-content
Quantity | 175.00000 UTDEV.SKILL

Сроки по задаче 15.01. - 19.01.2018

@kkrupovich @alecvert

[2018-01-15 21:36] cptn-solo commented on #52
@nat-brit @Arteg0r @alecvert

В сегодняшних бурных обсуждениях (понедельник) Игры и изменения подхода к подаче информации на стартовой странице сайта мы почти не заметили начало диалога между командой Bitshares и Scorum на предмет портирования реализации Atomic swaps.

С прошлой итерации ( #49 ) оставался вопрос

теперь это [задача](https://github.com/u-transnet/codebase/issues/28) со скилом @mpar

[2018-01-16 10:53] Dima-Iron commented on #56
Раздел "токенизация" для сайта transnet.
Драфт будет создан до 18.00 по мск 16.01.2018
[Заготовка документа](https://docs.google.com/document/d/1Bm8wfnKCT4xDGIV9l8UB1Hx40C6XYH3oK6XLycS1OJQ/edit)

[2018-01-16 10:55] nat-brit commented on #56
К ТЗ:
1.[ Эволюция](https://golos.io/golos/@natasha/svyazannye-odnoi-cepyu-minimum-chto-nuzhno-znat-pro-blokchein) токенов
2. Описание токенов ([типы](https://en.wikipedia.org/wiki/BitShares)) - базовый, UIA, MPA
3. Описание токенов [внутри Transnet](https://github.com/u-transnet/info/wiki/%D0%93%D0%BB%D0%BE%D1%81%D1%81%D0%B0%D1%80%D0%B8%D0%B9)
4. Описание ролей участников Transnet (Вендор, Операт

[2018-01-16 11:36] cptn-solo commented on #56
@Dima-Iron

в info/wiki в [глоссарий](https://github.com/u-transnet/info/wiki/%D0%93%D0%BB%D0%BE%D1%81%D1%81%D0%B0%D1%80%D0%B8%D0%B9) добавил подрядчиков и транзитные активы, надо продолжать, текущая задача даст выхлоп для глоссария неплохой ;)

@nat-brit

@alecvert [задача](https://github.com/u-transnet/info/issues/9) (#9 ) про иерархию активов - схема токенизации АП - не нашел исходники к сож.,

[2018-01-16 16:16] Ortis10 commented on #53
Куда вылсать резюме. Где здесь контакты?

[2018-01-16 16:55] Arteg0r commented on #53
@Ortis10 высылайте мне на alexandrovych@gmail.com или в телеграм https://t.me/arteg0r

[2018-01-16 17:50] cptn-solo commented on #53
@Ortis10 @Arteg0r

пуллреквест в мастер - merged == hired ;)

[2018-01-16 20:15] cptn-solo commented on #38
@codename-art принят, бюджетная позиция **utd-front**:
- макс. ставка эквивалент 3000 USD/мес.
- стандартная [схема роста](https://github.com/u-transnet/info/wiki/2.1.-%D0%A0%D0%BE%D1%81%D1%82-%D0%B2-%D0%BA%D0%BE%D0%BC%D0%B0%D0%BD%D0%B4%D0%B5)
- начинаем с 50% - эквивалент 1500USD/мес., эквивалент **75**USD/день
- исп. срок - 2 недели (750UTDEV.SKILL)

BLOCK #23595367
TRANSFER |  From | utd-front

[2018-01-17 00:50] cptn-solo commented on #47
@alecvert @nat-brit @Dima-Iron

Пока хочу оставить здесь явно оформившиеся за последние дни тезисы:
- в экономике TRANSNET SPACE и Bitshares есть два основных канала "эмиссии" базового актива:
- - вознаграждение за блок (выплачивается/вестится активным заверителям, объем незначителен) и
- - worker (выплачивается/вестится инициатору направления/проекта, за воркер которого проголосовало сообщество)

[2018-01-17 01:27] cptn-solo commented on #52
@nat-brit @Arteg0r @alecvert

Очередной [шаг вперед](https://github.com/u-transnet/info/issues/47#issuecomment-358157700), ~~два шага назад~~ в вопросе монетизации токена направления и экономики блокчейна в целом. Пора начинать рисовать ведра, или сепараторы @LastWarrior

В нашей команде пополнение, @codename-art  [full stack web dev](https://github.com/u-transnet/info/issues/38#issuecomment-35809

[2018-01-17 02:11] cptn-solo commented on #56
@Dima-Iron @nat-brit
Откомментил немного док, сегодня буду рисовать схемку пытаться.

[2018-01-17 09:37] nat-brit commented on #47
А есть еще другие каналы? Какие?

- увеличить вознаграждение за блок заверителям при достижении некоего объема циркуляции UTT в зависимости от роста экономики? (если денег в экономике много, это плохо, но когда мало - тоже плохо, ведь есть какие-то формулы под это дело:)....  или выкуп у старых инвесторов (цена будет расти из-за возросшей потребности в нем), у них же будет приток уже как отдача от

[2018-01-18 01:10] cptn-solo commented on #47
@nat-brit

Это я образно. Впрочем, например, ютт мог достаться "по наследству" через положительный баланс учетки в генезисе блокчейна (форк)

это первое, что приходит на ум, но это вызовет усиление централизации - ютт "вознесет" заверителей над всеми остальными участниками на недосягаемую высоту.

Во-первых, ранние инвесторы - держатели базового актива - вероятнее всего будут большой редкостью.
Во

[2018-01-18 01:36] cptn-solo commented on #52
@nat-brit @Arteg0r @alecvert

В продолжение "размышлений" о монетизации - [ответил](https://github.com/u-transnet/info/issues/47#issuecomment-358504032) на варианты, предложенные @nat-brit

@EvgeniyPolyakov сегодня приоткрыл завесу над светлым будущим реф.кошелька Bitshares на службе пользователей u-transnet - начал кастомизацию интерфейса (скриншот НЕ прилагаю). Поэтому как только возникнет потре

[2018-01-19 18:07] rossul opened #57 "Tes Issue"
A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a si

[2018-01-19 23:38] cptn-solo commented on #38
@netral23
предварительно согласовали:
- макс. ставка эквивалент 2500 USD/мес.
- стандартная [схема роста](https://github.com/u-transnet/info/wiki/2.1.-%D0%A0%D0%BE%D1%81%D1%82-%D0%B2-%D0%BA%D0%BE%D0%BC%D0%B0%D0%BD%D0%B4%D0%B5)
- начинаем с 50% - эквивалент 1250USD/мес., эквивалент 62,5USD/день
 1250 (2500 через 100 дней)

BLOCK #23794767

TRANSFER |  
-- | --
From | utd-front
To | superpchelka23
Q

[2018-01-20 00:04] cptn-solo commented on #52
@nat-brit @Arteg0r @alecvert

UP: @netral23 присоединился к команде (блок перевода скилла будет позже)

Напомню себе и команде локации добытых знаний в области шлюзостроения:

- [Шлюз](https://github.com/u-transnet/codebase/tree/gate)
- [ERC20](https://github.com/u-transnet/codebase/tree/erc20)
- [Бот-аукционер](https://github.com/u-transnet/codebase/tree/exchange_bot)
- [Проект](https://github.co

[2018-01-20 02:07] cptn-solo commented on #52
@alecvert @Arteg0r @nat-brit пожалуй, это все, что успел за неделю из первоначального плана за исключением того, что забыл указать в отчетах. Транзакция перевода UTDEV предложена на учетке **utd-architect**

BLOCK #23687854

CREATE PROPOSAL |  
-- | --
Expiration time | January 21, 2018, 5:03:30 AM
Proposed operations | Transfer 1,225.00000 UTDEV from utd-architect to cptn-solo

[2018-01-20 07:39] Arteg0r commented on #52
@kkrupovich заапрувил

[2018-01-20 14:35] cptn-solo commented on #52
@Arteg0r

по-моему, не успел ;) - смотри, @nat-brit заапрувила:

BLOCK #23700682

UPDATE PROPOSAL |  
-- | --
Fee paying account | bkmfk
Proposal object id | 1.10.7795
Active approvals to add | bkmfk

[2018-01-20 16:35] nat-brit opened #58 "Навести порядок на Гитхабе"
Насколько срочно? Нужно ли запланировать на эту неделю?
@kkrupovich

- Наглядная и понятная организация всех внутренних документов
- Работа по задачам (постановка и прием в работу под залог квалификационного токена)

[2018-01-20 16:46] nat-brit opened #59 "Интеграция Гитхаба с удобоваримым сервисом"
Например, с https://asana.com/apps/github

Кто знаком в работой этого сервиса?
1. Изучить возможности
2. Схема документов, что и как там все интегрируется?
3. Что первично? Навести порядок на Гитхабе (#58) или делать одновременно и там и тут?
4. Сроки

@kkrupovich  @rossul @netral23

[2018-01-20 17:06] cptn-solo commented on #58
@nat-brit

Не уверен, на сколько это срочно, т.к. смотря в каком контексте нам нужен гитхаб с наведенным в нем порядком - для сайта? для блогов? Если так, и сайт и блоги - срочные задачи - то, видимо, сроки как-то должны быть связаны.
Могу себе поставить в план, и заниматься в фоне вместе с приведением в человеческий вид с точки зрения Open source best practices, возможно, с помощью @codename-art

[2018-01-20 17:19] nat-brit commented on #50
Закрываем эту неделю с такими результатами:

На текущий момент:
**1. Сайт-визитка:**
- Макет сайта опять меняется. [Промежуточные варианты тут](https://github.com/u-transnet/www-teaser/issues/91), дизайн [шапки тут](https://github.com/u-transnet/www-teaser/issues/90).
- Готов [текст для страницы по токенизации](https://docs.google.com/document/d/1Bm8wfnKCT4xDGIV9l8UB1Hx40C6XYH3oK6XLycS1OJQ/edit),

[2018-01-20 17:23] cptn-solo commented on #59
@nat-brit
Я открыл, посмотрел бесплатный план, увидел там толи 5 толи 7 человек - и закрыл. Платные не смотрел.
Любой сервис (включая, впрочем, гитхаб) - это не блокчейн, а сервис третьих лиц, которые могут диктовать любые условия, а нам потом устраивать миграцию, если условия вдруг станут неудобными/невыгодными. Как и сайт (доменное имя, блокировки). Это, конечно, максимализм, но по хорошему поли

[2018-01-20 17:33] cptn-solo commented on #59
@nat-brit
А зачем @netral23 ? Это, скорее, ближе к  @Arteg0r и @codename-art

[2018-01-20 18:18] Dima-Iron commented on #56
Будут ли еще правки к [документу](https://docs.google.com/document/d/1Bm8wfnKCT4xDGIV9l8UB1Hx40C6XYH3oK6XLycS1OJQ/edit) в текущем виде?
Предлагаю добавить схемы от Кости и закрыть итерацию, перейдя к описанию концепции и построению роадмэп.
К доработке раздела по токенизации предлагаю вернуться в дополнительной итерации после завершения формирования концепции.

 @kkrupovich @nat-brit @alecvert

[2018-01-20 18:49] nat-brit commented on #59
@kkrupovich @Dima-Iron

Важное в конце:) Именно. У нас сейчас упор по контенту идет на Transnet Space, в то время как упор должен идти на миссию и концепцию U-Tech. Из-за этого и недопонимание. Мне хотелось бы именно на этом сейчас сконцентрировать все усилия - описать стратегию и road map для U-tech и оттуда плясать с сайтом и задачами и всем прочим.
Опять же вопрос по ЦА. Все-таки очень мало люд

[2018-01-20 19:09] rossul commented on #59
Наверно стоит уточнить, что речь не о переезде с Гитха на что-то другое, а о том, что нужна платформа для управления проектом, которая работает с Гитом.

Гитхаб - репозиторий для кода и заточен на version control и процесс разработки и тестированиее софта. Он не удобен и не позиционирует себя как иструмент для менеджмента проектов. Самая простая аналогия - Jira как платфрома управления проектами у

[2018-01-20 22:22] cptn-solo commented on #59
@nat-brit

Да, команда + любой независимый аудитор - потенциальный/реальный член сообщества/стейкхолдер. Это не маркетинговые материалы для привлечения внимания, это "первичка", первоисточник, исходный "код" конфигурации, к которому обращаются ПОСЛЕ того, как внимание привлечено. Это материалы для анализа, а не яркая и понятная вывеска.

Примерно так. Это коллаборация. Это не разработка фиксирован

[2018-01-20 22:50] cptn-solo commented on #59
@rossul

Да, основное неудобство для внешних участников, видимо, именно в отсутствии инструментария управления проектом.
`Но выше в ответах @nat-brit  я упомянул ~~притянутую за уши~~ проблему разделения аудитории на менеджеров и исполнителей. Ведь мы так можем далеко зайти - офис, бухгалтер, HR, тестовые задания и рекомендации с предыдущих мест работы ;) А потом внезапно раз - и у блокчейна случи

[2018-01-20 23:15] cptn-solo commented on #56
@Dima-Iron @nat-brit @alecvert

Согласен. Нужно выбрать/сформулировать и заскилловать следующую задачу.

Согласен. Предлагаю закрывать итерацию, ссылку на текущую задачу желательно зафиксировать в wiki тизера ([Контент и разделы](https://github.com/u-transnet/www-teaser/wiki/%D0%9A%D0%BE%D0%BD%D1%82%D0%B5%D0%BD%D1%82-%D0%B8-%D1%80%D0%B0%D0%B7%D0%B4%D0%B5%D0%BB%D1%8B)?)

@nat-brit вообще все задачи

[2018-01-20 23:39] cptn-solo commented on #50
@nat-brit

Он давно запущен :) но один узел - это не сеть. Хочется запустить именно узлы заверителей блокчейна, сформировать первый круг доверия нового DAC на Graphene, и двигаться дальше именно в этом формате.

тут важен порядок слов - идет работа над кастомизацией интерфейса (форк референтного кошелька Bitshares) с целью ребрендинга под символику U-Tech, как это делается в каждом новом форке реф

[2018-01-21 09:32] Arteg0r commented on #52
@kkrupovich
#23694531
![image](https://user-images.githubusercontent.com/34586822/35192614-23795aec-fea7-11e7-9614-7abbb764a58d.png)

)) значит в разных вселенных заапрувили

[2018-01-21 11:58] alecvert commented on #59
@nat-brit @kkrupovich @rossul коллеги, думаю что гитхабом нужно учиться пользоваться каждому участнику команды.

Согласен с Костей, мы работаем на блокчейн пространстве, и поэтому github  упорядочивает нашу работу и показывает нашу открытость и серьезные  намерения/планы, что важно для тех, кто нас поддерживает и будет поддерживать.

Более того, считаю, что gh наш нужно будет переводить начать в с

[2018-01-21 18:03] nat-brit commented on #56
@kkrupovich

все задачи на разработку документов, как и задачи на разработку софта, должны включаться в milestone с датой.

Поэтому первоочередная задача - определиться с milestones, потом с ответственными за направления:) Ну и обучить, что и где и как фиксировать:))) Сейчас, работая с сайтом я уже вижу, какие есть проблемы, но пока у меня не сложилось понимание, как сделать все удобно и наглядно.

[2018-01-21 18:06] cptn-solo commented on #50
@nat-brit @Arteg0r @alecvert

Коллеги, если ни у кого нет возражений - просьба подтвердить транзакцию на учетке **utd-pm** :

BLOCK #23765576

CREATE PROPOSAL |  
-- | --
Review period begin | —
Expiration time | January 23, 2018, 10:02:29 PM
Proposed operations | Transfer 875.00000 UTDEV from utd-pm to bkmfk

[2018-01-21 18:31] cptn-solo commented on #56
@Dima-Iron @nat-brit

BLOCK #23736091

TRANSFER |  
-- | --
From | utd-content
To | dima-iron
Quantity | 175.00000 UTDEV

Спасибо!

PS: по поводу внедрения схемы - вопрос, т.к. мы не решили должен ли быть этот раздел (токенизация) в документе.

[2018-01-21 19:55] nat-brit opened #60 "Неделя #4/2018"
## Повестка дня стейкхолдеров U-TRANSNET *

- Вакансии - актуализация [доски](https://github.com/u-transnet/info/projects/4) (перманентная задача) @nat-brit @kkrupovich @Arteg0r
- Концепция образовательного направления и актива ([задача](https://github.com/u-transnet/info/issues/63)) @nat-brit @ipral50
- Тексты описаний токенов SKILL, DEV, CORE, GAME, KIT (в рамках [задачи](https://github.com/u-tr

[2018-01-22 01:11] cptn-solo opened #61 "[Координация #4/2018] Запуск блокчейна + концепция + разработка"
Предыдущий отчет #52
Общий план на текущую неделю #60

## Деятельность в рамках U-TECH/TRANSNET SPACE

- участие в [формулировании идеи нового направления (образовательный токен)](https://github.com/u-transnet/info/issues/63) @nat-brit @ipral50 @alecvert
- участие в [формулировании плана развития медиаресурсов](https://github.com/u-transnet/info/issues/62)
- участие в [наведении порядка в хабе](ht

[2018-01-22 01:47] cptn-solo commented on #60
@nat-brit
Отличный план. Спасибо! Я раскидал задачи по группам более явно, и параллельно подумал над структурой наших отчетов.
@nat-brit @Arteg0r @alecvert предлагаю использовать эту задачу в качестве основного инструмента для [наведения порядка](https://github.com/u-transnet/info/issues/58#issuecomment-359304791) в наших репозиториях
@nat-brit составление такого обзорного плана и ведение отчета п

[2018-01-22 01:59] cptn-solo commented on #58
@nat-brit @Arteg0r @rossul на этапе выбора более академичного подхода к организации работ в рамках наших направлений предлагаю:
- считаем задачу #60  эталоном "обзорного" плана работ на неделю в разрезе потоков работ и направлений
- обзорный план расставляет акценты (перечисляет критические задачи)
- обзорный план детализируется в аналогичных задачах руководителей направлений и координаторов
- дет

[2018-01-22 08:22] nat-brit commented on #60
Да. Пока не наведем порядок, хоть так:) Пока беру это на себя, но обзоры по ссылкам должен составлять пиар-менеджер, который будет вести блог Транснет. Сейчас есть 3 человека уже, которым можно поручить составление обзоров. Могу сформировать задачу.
@kkrupovich @alecvert @Arteg0r

[2018-01-22 09:23] Arteg0r commented on #58
@kkrupovich

Явно указать в списке требований в вакансии.

Один кандидат говорит: "взял на себя смелость почитать документацию по проекту, надеюсь, так и было задумано" :) То есть, на мой вкус, добросовестный кандидат перед откликом, ну или собеседованием, изучил хоть сколько-то проект.

[2018-01-22 09:26] cptn-solo commented on #60
@nat-brit

обзоры - это интервью с исполнителями? по факту это задача менеджера проекта - выявление рисков и работа с ними (@Arteg0r @rossul поправьте меня, если я несу чушь) - но если у нас нет менеджера проекта в классическом понимании, то можно попытаться заменить эту часть процесса чем-то вроде публичной порки просрочивших задачи исполнителей ;))) Тогда интервью будет как раз сбором обратной с

[2018-01-22 09:39] Arteg0r commented on #58
@nat-brit @kkrupovich

Насчет наведения порядка - на текущий момент не успел навести беспорядок у себя )

про майлстоуны: взял на заметку твои варианты, пока не могу выбрать

[2018-01-22 09:42] Arteg0r commented on #60
@nat-brit @kkrupovich
Безусловно, обзор обеспечивает отличную наглядность движения работ по всем направлениям.

[2018-01-22 10:56] nat-brit commented on #60
@kkrupovich
В конце недели под этой задачей #60 будет коммент с результами. И линки на выполненные задачи. (от меня)
Порка вряд ли понадобится, пока мы оперируем с квалификациоными токенами:)
Про интервью не очень поняла. На мой взгляд достаточно, что "пиар-менеджер" или просто человек из команды по контенту внятными словами опишет то, что найдет по ссылкам исполненных задач: сделано то-то и так-т

[2018-01-22 11:21] cptn-solo commented on #60
@nat-brit

это классический челлендж любого процесса разработки - обычно разработкой ТЗ занимается аналитик, но в нашем процессе этот этап и его роли мы пытаемся заменить совместным формулированием постановки задачи (лейбл <img width="85" alt="help wanetd" src="https://user-images.githubusercontent.com/1105555/35218107-7021c46a-ff7e-11e7-9854-3d37f2589216.png">)

Для этого призываю проводить разъя

[2018-01-22 11:32] cptn-solo opened #62 "Сформулировать и утвердить план развития медиаресурсов платформы"
Источник - #60

План (документ) необходим в том числе в качестве источника граничных условий для ТЗ сайта U-TECH (transnet.tech), что держит продолжение работ по нему, а так же поможет сформулировать такие документы, как миссия, конституция, дорожная карта

План формулируется в [документе](https://docs.google.com/document/d/1DLpWe-TV9X8ma2ibIuSyCvkH3kYB5Dyp7cOefm6UfBE/edit?ts=5a648999).

Комментар

[2018-01-22 11:44] cptn-solo opened #63 "Сформулировать концепцию образовательного направления Transnet Space"
Источник - #60

@nat-brit , пока по этому направлению известно лишь то, что можно запустить программу обучения, монетизируемую гипотетическим токеном нового направления, который может обмениваться прослушавшими курс на базовый актив блокчейна в точности так же, как предполагается обмен любого другого токена направления в рамках [сценария монетизации](https://github.com/u-transnet/info/issues/47).

[2018-01-22 12:05] cptn-solo commented on #61
@Arteg0r @nat-brit @alecvert предложил @codename-art попробовать себя в качестве руководителя направления UTKIT - можно начать с формулировки недельных планов, подобных настоящей задаче и ведению отчетности по нему в формате наших управленческих задач. Не думаю, что это будет большой проблемой для него, если мы будем доступны для обсуждения ключевых вопросов, возникающих в ходе работ. В качестве а

[2018-01-22 12:08] cptn-solo commented on #61
@alecvert @nat-brit @Arteg0r

BLOCK #23757296

TRANSFER |  
-- | --
From | cptn-solo
To | utd-architect
Quantity | 875.00000 UTDEV.SKILL

Скилл под работы с 22 по 26 января 2018 включительно

[2018-01-22 19:18] cptn-solo commented on #50
@nat-brit

UPDATE PROPOSAL |  
-- | --
Fee paying account | cptn-solo
Proposal object id | 1.10.7856
Active approvals to add | cptn-solo

UPDATE PROPOSAL |  
-- | --
Fee paying account | bkmfk
Proposal object id | 1.10.7856
Active approvals to add | bkmfk

[2018-01-22 19:18] #50 closed, assigned to nat-brit

[2018-01-23 10:23] cptn-solo commented on #61
@alecvert @nat-brit @Arteg0r

Посмотрите, какие диаграммы рисует @codename-art 👍

<img width="824" alt="screen shot 2018-01-23 at 01 42 15" src="https://user-images.githubusercontent.com/1105555/35248322-c29f1da4-ffde-11e7-858b-3c4bcff88641.png">

[Симулятор](https://github.com/u-transnet/transnet-simulator/issues/1#issuecomment-359343007) развивается просто семимильными шагами, его [альбом диагра

[2018-01-24 08:09] Dima-Iron opened #64 "Работа над наполнением сайта и стратегией продвижения"
Коллегами @nat-brit и @kkrupovich  в рамках задач #60 и #62 была начата работа по формированию ТЗ для сайта и последующему его наполнению.

Принимаю непосредственное участие в создании описаний разделов сайта-  страниц "роли участников", "дорожная карта", "концепция", а также продолжаю работать по наполнению главной страницы.

@alecvert @nat-brit @kkrupovich

[2018-01-24 08:10] nat-brit commented on #60
BLOCK #23809937
From | bkmfk
To | utd-pm
Quantity | 875.00000 UTDEV.SKILL
Период с 22 по 27 января включительно
@kkrupovich @Arteg0r  @alecvert

[2018-01-24 09:55] cptn-solo commented on #62
@nat-brit @Dima-Iron @alecvert @rossul
Коллеги, промежуточный результат (план) по [документу](https://docs.google.com/document/d/1DLpWe-TV9X8ma2ibIuSyCvkH3kYB5Dyp7cOefm6UfBE/edit?ts=5a648999) (просьба комментировать - буду обновлять это резюме):

- сформулировать "базовые понятия":
- - что мы делаем (методология токенизации инфраструктурных проектов),
- - как мы это делаем (в форме DAC на графене,

[2018-01-24 10:07] cptn-solo commented on #64
@Dima-Iron
Предлагаю так же рассмотреть [результаты](https://github.com/u-transnet/info/issues/62#issuecomment-360078763) работы над планом развития медиаресурсов - возможно, наполнение сайта ("базовые понятия") стОит сформулировать вне его - а именно - в корневых репозиториях направлений в Github.

В этом контексте особенно полезным будет развитие документов, находящихся в [корневом репозитории](

[2018-01-24 11:17] nat-brit commented on #64
Согласна. В принципе одно дополняет другое, поэтому оформим задачу с предложениями @kkrupovich

[2018-01-24 12:37] cptn-solo commented on #58
@nat-brit решили:
- создать 6 репозиториев для закрепления в шапке организации (новые репозитории, нацеленные на внешнюю аудиторию):
- - [ABOUT](https://github.com/u-transnet/ABOUT) (все о платформе, проекте - основные документы, дорожная карта, вопросы и ответы (FAQ), источник информации для маркетингового направления и PR)
- - [CONTRIBUTE](https://github.com/u-transnet/CONTRIBUTE) (задачи, ищущи

[2018-01-24 13:09] nat-brit commented on #58
@kkrupovich @alecvert @Dima-Iron

Репозитории предназначены для знакомства с проектом. Пользователи, попадaющие сюда с сайта или через другие каналы чаще всего не будут знакомы с Гитхабом. Поэтому:

- Все документы, попадающие в эти репозитории, должны быть понятными (т.е. редактура перед публикацией очень желательна)
- Итоговыми согласно точкам дорожной карты. Из промежуточных -  отчеты.
- Заголо

[2018-01-24 13:27] cptn-solo commented on #58
@nat-brit @Dima-Iron @Arteg0r @alecvert

гуглодок - основной инструмент для коллаборации вокруг документов. Коллаборация в рамках задач: документ создается в привязке ссылкой к конкретной задаче/задачам - ссылки из документа на источники (задачи) обязательна.

итоговые версии документов, относящихся к конфигурации продукта (ТЗ - от концепции до спецификации + документация) публиковать в вики соотв

[2018-01-24 16:39] nat-brit commented on #58
поставлю в задачу

[2018-01-24 20:33] Dima-Iron commented on #64
BLOCK #23810153
TRANSFER
From | dima-iron
To | utd-content
Quantity | 175.00000 UTDEV.SKILL

Сроки по задаче 22.01. - 26.01.2018

@kkrupovich @alecvert

[2018-01-24 21:00] kkrupovich commented on #62
/remind

[2018-01-24 23:58] cptn-solo commented on #61
@nat-brit @alecvert @Arteg0r резюмирую сегодняшние (вчерашние) достижения.

Как мы все уже знаем, работы над сайтом приостановлены, поскольку его концепция снова претерпевает изменения. Но на этот раз мы собираемся подойти к вопросу более основательно, поскольку получили очень ценный фидбэк от @rossul относительно текущего макета и наполнения тизера. Более того, мы решили не откладывать реорганиза

[2018-01-26 00:31] cptn-solo commented on #61
@Arteg0r @alecvert @nat-brit
Немного магии от @mparkhomenko  - отчеты по [docker](https://github.com/u-transnet/codebase/issues/28#issuecomment-360506151) и [composer](https://github.com/u-transnet/codebase/issues/38#issuecomment-359978583) - задачам, связанным с запуском блокчейна.
Но это еще не пакет для установки. Нам нужна инструкция, readme для докера. [Задача](https://github.com/u-transnet/c

[2018-01-26 13:56] cptn-solo commented on #58
@nat-brit

На выходе должен быть регламент, подобный [регламенту создания задач](https://github.com/u-transnet/info/wiki/2.3.-%D0%A0%D0%B5%D0%B3%D0%BB%D0%B0%D0%BC%D0%B5%D0%BD%D1%82-%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F-%D0%B8-%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F-%D0%B7%D0%B0%D0%B4%D0%B0%D1%87-(issue)), но написать его можно предварительно в гуглодоке в рамках упомянутой @nat-brit

[2018-01-26 14:47] cptn-solo commented on #58
@nat-brit @Arteg0r @alecvert
- Создал [информационные репозитории](https://github.com/u-transnet/info/issues/58#issuecomment-360117531)
- Создал новую группу пользователей - **crew**
- Добавил туда руководителей направлений и дал этой группе права на запись в [новые (информационные) репозитории](https://github.com/u-transnet/info/issues/58#issuecomment-360117531).
- **Закрыл** от редактирования бр

[2018-01-26 19:20] cptn-solo commented on #63
@nat-brit
Создал под направление информационный репозиторий [UT-SCHOOL](https://github.com/u-transnet/ut-school), бранч/папка  где будем рисовать схемы: [dev/drawings](https://github.com/u-transnet/UT-SCHOOL/tree/dev/drawings) - положил туда заготовку диаграммы процессов и readme.md с открывабельной ссылкой на диаграмму.

![скрин](https://raw.githubusercontent.com/u-transnet/UT-SCHOOL/dev/drawings

[2018-01-26 22:05] cptn-solo commented on #61
@nat-brit @alecvert @Arteg0r

Благодаря героическим усилиям @netral23 , теперь мы [знаем](https://github.com/u-transnet/Gateway/issues/7#issuecomment-360774627), как устроен атомарный своп между биткойном и графеном в реализации Scorum/Decred, и, безусловно, постараемся использовать эти знания в нашем проекте. Судя по всему, scorum пошел по каноническому пути расширения функциональности, предусмот

[2018-01-27 10:13] nat-brit opened #65 "Описание для информационных репозиториев"
Продолжаем работать над задачей ["Навести порядок на Гитхаб"
](https://github.com/u-transnet/info/issues/58)

Созданы [новые репозитории](https://github.com/u-transnet) для более наглядного представления потоков работ и облегчения поиска по лентам задач.

Эти репозитории предназначены, в первую очередь, для знакомства с проектом - обзор, структура, маркетинг (база для сайта и маркетинговых докумен

[2018-01-27 10:14] nat-brit commented on #58
Переходим к задаче [#65](https://github.com/u-transnet/info/issues/65) @kkrupovich

[2018-01-28 18:15] nat-brit commented on #61
Все внимательно читаю, но откомментировать вряд ли смогу:) Выглядит многообещающе:) Полностью поддерживаю предложение "попробовать @codename-art в качестве руководителя направления UT-KIT":)

[2018-01-28 18:51] cptn-solo commented on #65
@nat-brit [документ](https://docs.google.com/document/d/10G6f4i6iPWJDCtbUAnDQD3L-Zr6j_2tPkJks9_xw1Gs/edit#) увидел, будем собирать инфу. Кто будет выгружать в репозитории - вопрос риторический, т.к. если будет понятно что и куда выгрузить - любой с соответствующими правами сможет это сделать.

[2018-01-29 21:32] cptn-solo opened #66 "[Координация #5/2018] Изменение процессов + подготовка к запуску БЧ + биржа задач и ресурсов"
Предыдущий отчет #61
Общий план на текущую неделю [---]

## Деятельность в рамках U-TECH/TRANSNET SPACE
- Изменение процессов: jira на управление проектами, github на конфигурацию продукта (документация, код, ресурсы) + дорожная карта и вход в проект (contributing)
- Продолжаем наводить порядок в хабе

## Локальный план по направлению UTCORE
- Подготовка к запуску БЧ
- - Пробуем докер, смотрим и п

[2018-01-29 21:33] cptn-solo commented on #66
@Arteg0r @alecvert @nat-brit

За последние дни сначала в рамках [подготовки к приему гостей](https://github.com/u-transnet/info/issues/58), а потом и в рамках развития конфигурации продукта, были созданы новые репозитории - информационные ([ABOUT](https://github.com/u-transnet/ABOUT), [CONTRIBUTE](https://github.com/u-transnet/CONTRIBUTE), [UT-SCHOOL](https://github.com/u-transnet/UT-SCHOOL), [UT-

[2018-01-30 01:20] cptn-solo commented on #61
@nat-brit @alecvert @Arteg0r коллеги, предлагаю подтвердить транзакцию на учетке  **utd-architect**

BLOCK #23974055

CREATE PROPOSAL |  
-- | --
Expiration time | January 31, 2018, 4:16:52 AM
Proposed operations | Transfer 875.00000 UTDEV from utd-architect to cptn-solo

[2018-01-30 01:43] cptn-solo commented on #59
@nat-brit @rossul @alecvert @Arteg0r
С целью оптимизации процессов разработки было принято решение вынести процессы управления требованиями в Jira. Сейчас на примере биржи задач ([UT-WORKS](/u-transnet/UT-WORKS)) мы попробуем организовать процесс сбора требований в формате User Story ([задача](https://rossul.atlassian.net/browse/UT-2) в jira от @rossul). Плюс, у Atrassian есть некая [программа](ht

[2018-01-30 09:47] cptn-solo commented on #38
@codename-art @nat-brit @alecvert @Arteg0r взял на себя смелость учинить рост @codename-art не еще через 2 недели, а по окончании контракта испытательного срока. Думаю, это можно даже внести в wiki в схему роста - если с кандидатом все понятно, нет смысла держать его целый контракт на начальных 50% ставки, достаточно контракта испытательного срока, после которого делать первый шаг роста.

Контракт

[2018-01-30 12:37] #53 closed, assigned to Arteg0r

[2018-01-30 12:42] Arteg0r commented on #61
@kkrupovich Подтвердил.

[2018-01-30 13:05] Dima-Iron commented on #64
@kkrupovich @alecvert @nat-brit

Сроки по данной задаче в связи с большим объемом подготовительных работ (по написанию Конституции) и отсутствием на текущий момент единой позиции по ряду ключевых вопросов (концепция, ЦА, наименование, продвижение и т.д.) продлеваются до 04.02.2018.

На данный момент сделана новая версия раздела корневого репозитория [Принять участие](https://github.com/u-transnet/

[2018-01-30 16:09] nat-brit commented on #60
**Результаты недели:**

В рамках задачи #58 созданы новые репозитории - информационные (ABOUT, CONTRIBUTE, UT-SCHOOL, UT-CORE, UT-GAME, UT-KIT), предназначенные для новых направлений деятельности и компонентов будущей платформы (UT-DESIGN, UT-WORKS).

В репозитории[ CONTRIBUTE](https://github.com/u-transnet/CONTRIBUTE) (задачи, ищущие исполнителя)  будут размещаться сформулированные верхнеуровневы

[2018-01-31 00:42] #61 closed, assigned to cptn-solo

[2018-01-31 00:43] #62 closed, assigned to cptn-solo, nat-brit, alecvert, Dima-Iron

[2018-01-31 00:54] cptn-solo commented on #60
@nat-brit @alecvert @Arteg0r предложил транзакцию на **utd-pm**
BLOCK #24002260

CREATE PROPOSAL |  
-- | --
Expiration time | February 1, 2018, 3:53:15 AM
Proposed operations | Transfer 875.00000 UTDEV from utd-pm to bkmfk

[2018-01-31 01:04] cptn-solo commented on #60
@nat-brit несмотря на ряд нюансов - выглядит бодро. Что заметил:

- на самом деле это не только телеграм-бот, но и веб, и встраивание в референтный кошелек Bitshares/U-Transnet.
- под управление разработкой этого приложения (биржа задач и ресурсов) создан отдельный репозиторий [UT-WORKS](/u-transnet/UT-WORKS)

новости этого направления - токенизацию, предложенную в "[первой диаграмме](https://gith

[2018-01-31 03:13] cptn-solo commented on #66
@u-transnet/crew  @u-transnet/app-dev @u-transnet/core-devs @u-transnet/design-gui @u-transnet/web

**[Jira в облаке Atlassian](https://u-trans.atlassian.net/secure/Dashboard.jspa)**

У нас есть первый [спринт](https://u-trans.atlassian.net/secure/RapidBoard.jspa?rapidView=2&projectKey=UT) в [эпике UT-WORKS](https://u-trans.atlassian.net/browse/UT-2) + заготовка под [User Story](https://u-trans.at

[2018-01-31 03:29] cptn-solo commented on #64
@Dima-Iron думаю после переезда в Jira станем по-свободнее и продолжим.

[2018-01-31 06:49] nat-brit commented on #60
С дополнениями выглядит еще бодрее:) Спасибо!

[2018-01-31 11:34] cptn-solo commented on #66
@u-transnet/crew

К вопросу о терминологии - как появляются и управляются направления деятельности u-trans

Бизнес | Jira | Github
-|-|-
**Направление** => токен | **Компонент** => эпик => истории => задачи и подзадачи, включаемые в спринты | **Репозиторий** => конфигурация продукта (описание к нему - readme.md, contributing.md, wiki + код, если применимо) => дорожная карта (roadmap.md ? проект ?)

[2018-01-31 13:17] nat-brit commented on #66
Направления могут сильно различаться по своей тематике (направлению:))) Это могут быть и адресные проекты, и направления по другим тематикам, вплоть до небольших личных бизнесов... не так ли? Может стоит попробовать расписать возможные категории этих направлений?

[2018-01-31 15:06] nat-brit opened #67 "Неделя #5/2018"
Предыдущий отчет #60
Общий план на текущую неделю по направлениям:

## U-TECH

Оптимизация управления проектами - начинаем работать с Jira (#58,#59)
Синхронизация с GitHub (информационные репозитории+то, что касается на конфигурации продукта (документация, код, ресурсы).
Дорожная карта (реализация в Jira) - план релизов продукта (UTCORE- расписать версии), координация разработки продукта с другими

[2018-01-31 15:11] nat-brit commented on #67
BLOCK #24019323
From | bkmfk
To | utd-pm
Quantity | 875.00000 UTDEV.SKILL
Период 29/01/201/- 2/02/2018

[2018-01-31 22:50] cptn-solo commented on #66
@nat-brit

Мне кажется, в [истории](https://u-trans.atlassian.net/browse/UT-15) появилась новая роль - инициатор направления (т.к. он может отличаться от инвестора) :)

[2018-02-01 06:42] nat-brit commented on #66
Конечно, он может отличатся. Он инвестирует своим трудом, опытом, и ему нужны деньги на развитие направления, инициативные участники, и подрядчики, в отличии от инвестора:)

[2018-02-02 07:10] nat-brit commented on #35
- что означает слово "конкатенироваться"?
- про рынок услуг поверх блокчейна: что включает в себя, как будет отслеживаться (ниши, потребности), будут ли лучшие отработанные модели потом кодится в БЧ?
- не нужно ли параметр "время" включить в рассчет цены отдельным токеном (активом)?

@kkrupovich @codename-art

[2018-02-02 08:43] cptn-solo commented on #35
@nat-brit

Объединяться, выступать единым лотом, позицией

Предполагается возможность выполнения сервисных функций поверх основной услуги (например расчет и резервирование маршрутов, см. «Логист» @codename-art). Такая возможность будет у держателей токенов направлений/проектов. Включение функций в бч возможно.

Да, в схемах симулятора таймслоты будут прописаны, выбираем подход к реализации

[2018-02-02 13:07] cptn-solo commented on #67
@u-transnet/crew
@u-transnet/partners

[Эпик](https://u-trans.atlassian.net/browse/US-1) для историй, связанных с образовательным направлением.

[2018-02-02 16:33] Arteg0r opened #68 "[Координация #5/2018] Отбор идей и наведение порядка"
@kkrupovich @nat-brit

Это первый отчет в этом репозитории от игрового направления.

Ранее на этой неделе мы подключали сотрудников, о чем сообщается в [этой задаче](https://github.com/u-transnet/Gamedev/issues/6).

На 1 и 2 февраля план следующий:

- брейншторм и отбор идей для игры (выполнено)
- работы по составлению питчей уже ведутся в рамках [этой](https://github.com/u-transnet/Gamedev/issues

[2018-02-03 00:26] cptn-solo commented on #66
@u-transnet/crew

Поиск брэнда платформы, апгрейд процессов разработки и управления, гитхаб медленно, но верно преображается, и начинается это с отдельных репозиториев. В то же время в Jira создана структура проектов, ссылающихся на репозитории в github. Команда активно готовится к полномасштабному запуску разработки ключевых компонентов бизнес-модели u-trans - UT-SCHOOL и UT-WORKS поверх платформ

[2018-02-03 00:30] cptn-solo commented on #66
@nat-brit @Arteg0r @alecvert создал предложение транзакции на **utd-architect**
BLOCK #24087900

CREATE PROPOSAL |  
-- | --
Review period begin | —
Expiration time | February 4, 2018, 3:28:59 AM
Proposed operations | Transfer 875.00000 UTDEV from utd-architect to cptn-solo

[2018-02-03 22:26] cptn-solo commented on #66
BLOCK #24114032

UPDATE PROPOSAL |  
-- | --
Fee paying account | cptn-solo
Proposal object id | 1.10.8087
Active approvals to add | cptn-solo

BLOCK #24111904

UPDATE PROPOSAL |  
-- | --
Fee paying account | bkmfk
Proposal object id | 1.10.8087
Active approvals to add | bkmfk

[2018-02-03 22:26] #66 closed, assigned to cptn-solo

[2018-02-04 13:11] nat-brit commented on #67
Отчет за неделю #5 [тут](https://github.com/u-transnet/info/issues/66#issuecomment-362750463)

Добавлю всего несколько пунктов:
по UT-SCHOOL: достигнута предварительная договоренность с партнером по образовательному направлению - крупным учебным заведением в Москве.
по UT-CORE: прорабатываем модель эмиссии базового актива, готовимся к запуску еще 4-х нод.
по UT-DESIGN: к сожалению, ни один из пред

[2018-02-04 15:19] cptn-solo commented on #67
@nat-brit

есть _желание_ взять еще два сервера под тестовые ноды для @netral23 (эксперименты и отладка кода atomic swap), но, возможно, есть еще кто-то, о ком мы не знаем, и кто тоже хочет собрать ядро бч из наших репозиториев ;) - вообще - эта инициатива приветствуется. Если бы у нас было больше времени мы бы давно сами подняли несколько узлов и попробовали бы сеть в действии.

Все-таки тягу чел

[2018-02-04 18:04] Arteg0r commented on #68
BLOCK #24137622
TRANSFER |
From | arteg0r
To | utd-architect-game
Quantity | 350.00000 UTDEV.SKILL

[2018-02-05 14:18] cptn-solo commented on #67
BLOCK #24161780

CREATE PROPOSAL |  
-- | --
Review period begin | —
Expiration time | February 6, 2018, 5:13:56 PM
Proposed operations | Transfer 875.00000 UTDEV from utd-pm to bkmfk

BLOCK #24161807

UPDATE PROPOSAL |  
-- | --
Fee paying account | bkmfk
Proposal object id | 1.10.8197
Active approvals to add | bkmfk

BLOCK #24161792

UPDATE PROPOSAL |  
-- | --
Fee paying account | cptn-solo
Pro

[2018-02-05 14:18] #67 closed, assigned to nobody

[2018-02-05 22:44] ghost opened #69 "[VACANCY] Backend developer (c++/python/blockchain)"
В распределенную dev команду требуется **backend разработчик** для участия в **blockchain** проекте на базе движка **graphene**. Опыт работы с **graphene/bitshares** не обязателен, **все навыки, что от вас требуются, описаны ниже**.

**Требуется:**
- Знание Python
- Знание С++
- Понимание принципов ООП и паттернов проектирования
- Опыт работы с базами данных (SQL/NoSQL)
- Опыт работы с [GitHub](ht

[2018-02-05 22:47] ghost commented on #69
@kkrupovich думаю, стоит добавить задачу на atomic swap, она заведена? Рекомендую еще отформатировать текст, ведь я только изложил суть.

[2018-02-06 19:25] Arteg0r commented on #68
@kkrupovich @nat-brit

Коллеги, направление UT-Gamedev закончило прошлую неделю с такими результатами:

- в ходе ударного брейншторма отобраны три идеи, они взяты в разработку в рамках [этой](https://github.com/u-transnet/Gamedev/issues/8) и [этой](https://github.com/u-transnet/Gamedev/issues/7) задач
- наведен порядок на хабе - создан [проект](https://github.com/u-transnet/Gamedev/projects/2), оп

[2018-02-07 17:35] cptn-solo commented on #68
@Arteg0r
BLOCK #24223183

TRANSFER |  
-- | --
From | utd-architect-game
To | arteg0r
Quantity | 350.00000 UTDEV

[2018-02-07 17:35] #68 closed, assigned to Arteg0r

[2018-02-08 12:30] Arteg0r opened #70 "[Координация UT-Game #6/2018] Отбор идей, выбор инструментов, смежные вопросы"
@kkrupovich @nat-brit

[Предыдущий недельный отчет](https://github.com/u-transnet/info/issues/68)

Коллеги, докладываю о работах на этой неделе 5-9 февраля  (тут, по старинке):

- продолжаем брейнштормить и шлифовать концепты в рамках [этой](https://github.com/u-transnet/Gamedev/issues/10) и [этой](https://github.com/u-transnet/Gamedev/issues/9) задач
- исследую менеджер [hacknplan](http://hacknpl

[2018-02-08 12:39] Arteg0r commented on #70
BLOCK #24246011

TRANSFER |  
-- | --
From | arteg0r
To | utd-architect-game
Quantity | 875.00000 UTDEV.SKILL

[2018-02-08 15:58] cptn-solo commented on #69
@netral23 откомменти плз эту задачу - докинь ссылку на доску проекта может, в котором раскладывается бэклог по атомикам

[2018-02-08 18:44] cptn-solo commented on #34
@Dima-Iron
BLOCK #24253246

переходим на 100%, дневная ставка 1400/20 = 70

[2018-02-09 11:51] ishmelev23 commented on #69
[Бэклог по Atomic Swaps](https://github.com/u-transnet/transnet-core/projects/1)

[2018-02-13 13:05] cptn-solo opened #71 "Подбор и собеседования с back-end разработчиками"
В рамках #69

[2018-02-13 13:09] cptn-solo commented on #71
@BoBaH6eToH
2 недели испытательный срок, 50% от максимальной ставки 2000 в объеме 10 дней - 500UTDEV.SKILL - дневная ставка 1000/20 = 50 UTDEV
По окончании испытательного срока [стандартная схема роста](https://github.com/u-transnet/info/wiki/2.1.-%D0%A0%D0%BE%D1%81%D1%82-%D0%B2-%D0%BA%D0%BE%D0%BC%D0%B0%D0%BD%D0%B4%D0%B5)
BLOCK #24390232

TRANSFER |  
-- | --
From | utd-core
To | vchikishev87
Quan

[2018-02-14 21:06] Arteg0r commented on #70
Итак, вот чего мы добились за прошлую неделю:

- два концепта, Cities и Asteroids, пережили брейнштормы и **продолжили развиваться**, а вот шикарная идея с прогрессорством **не прижилась**.

- менеджер hacknplan выглядит и работает как jira, из которой вынесли лишнее ) понравилась game design model - иерархическая структура компонентов игры, на которую можно завязывать таски (близка идее component

[2018-02-14 21:17] cptn-solo commented on #70
@Arteg0r @alecvert @nat-brit предложил транзакцию на **utd-architect-game** :
BLOCK #24428607

CREATE PROPOSAL |  
-- | --
Expiration time | February 16, 2018, 12:15:07 AM
Proposed operations | Transfer 875.00000 UTDEV from utd-architect-game to arteg0r

[2018-02-14 22:31] Arteg0r opened #72 "[Координация UT-Game #7/2018] Генерация и проверка идей, манифест, библиотека"
[Предыдущая](https://github.com/u-transnet/info/issues/70)

На этой неделе, 12-16 февраля, у нас ожидается:

- Составление новых концептов - Planets и Pioneers
- Доработка и развитие идей Cities и AsteroidRush
- Попытаемся набросать черновик миссии/манифеста игрового направления. Есть предчувствие, что подобный документ поможет нам отсеять нужные идеи, а также ответит на следующий вопрос: какие це

[2018-02-14 22:42] cptn-solo commented on #72
@Arteg0r @nat-brit

и через нее обрастать сообществом, тащить туда UT-SCHOOL и UT-WORKS

[2018-02-14 22:43] Arteg0r commented on #72
BLOCK #24430336

TRANSFER |  
-- | --
From | arteg0r
To | utd-architect-game
Quantity | 875.00000 UTDEV.SKILL

[2018-02-14 22:46] #70 closed, assigned to Arteg0r

[2018-02-15 06:03] nat-brit commented on #72
давайте обсудим подробнее, идея интересная:)

[2018-02-21 17:56] Arteg0r commented on #72
А не подвести ли итоги прошлой итерации? Давно пора!

- Завершили работу над идеей Cities
- Развивали и уточняли AsteroidRush
- Сформировали (не без риска для ментального здоровья) две новые идеи: Planets и Pioneers
- Набросал [черновик](https://docs.google.com/document/d/1XwquQrpDzw4744zCq3kY5xe-mW05F7LOLdne6w-q6js/edit?usp=sharing) миссии/манифеста игрового направления
- Идея о библиотеке, увы,

[2018-02-21 18:21] nat-brit commented on #72
По библиотеке обязательно проработаем скоро:) @Arteg0r

[2018-02-21 18:28] Arteg0r opened #73 "[Координация UT-Game #8/2018] Доработка отобранных идей"
[Предыдущая задача](https://github.com/u-transnet/info/issues/72)

Итак, на этой неделе беру 4 дня (23.02 не работаю).

В этой итерации:

- Приняли решение остановиться на 4 идеях: Cities, AsteroidRush, Planets и Pioneers. Их будем представлять в ходе будущей питч-сессии с участием всей команды U-Tech.
- На этой неделе обсуждаем/разрабатываем AsteroidRush, Planets и Pioneers
- В рамках встречи со

[2018-02-21 18:36] Arteg0r commented on #73
BLOCK #24625337

TRANSFER |  
-- | --
From | arteg0r
To | utd-architect-game
Quantity | 700.00000 UTDEV.SKILL

[2018-02-22 15:17] cptn-solo commented on #72
@Arteg0r @nat-brit @alecvert предложил транзакцию на учетке **utd-architect-game**:
BLOCK #24650059

CREATE PROPOSAL |  
-- | --
Review period begin | —
Expiration time | February 23, 2018, 6:15:56 PM
Proposed operations | Transfer 875.00000 UTDEV from utd-architect-game to arteg0r

[2018-02-22 19:32] #72 closed, assigned to Arteg0r

[2018-02-24 10:30] cptn-solo commented on #16
@nat-brit @Arteg0r добавил [раздел в wiki по оформлению скилла в Jira](https://github.com/u-transnet/info/wiki/2.4.-%D0%A0%D0%B5%D0%B3%D0%BB%D0%B0%D0%BC%D0%B5%D0%BD%D1%82-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-%D1%81%D0%BE-Skill-%D0%B2-Jira-u-trans). Это новая схема в общем [альбоме диаграмм](https://www.draw.io/#Hu-transnet%2Finfo%2Fmaster%2Funity_concept.xml) (лист SKILL FLOW)
Скриншот для вставки

[2018-03-01 08:36] Arteg0r commented on #73
Итоги прошлой недели:

1. Продолжали обсуждать и работать над концепциями:

- [AsteroidRush](https://realtimeboard.com/app/board/o9J_kzr93Fs=/)
- [Planets](https://realtimeboard.com/app/board/o9J_kzruL0M=/)
- [Pioneers](https://realtimeboard.com/app/board/o9J_kzqgWFM=/)

2. Прототип [библиотеки в realtimeboard](https://realtimeboard.com/app/board/o9J_kzqre8I=/)
Чего хочется получить от нее в конеч

[2018-03-01 09:57] cptn-solo commented on #38
@codename-art @alecvert @nat-brit рост через шаг, [симулятор](https://github.com/u-transnet/transnet-simulator) и UT-KIT практически полностью ведутся @codename-art , де-факто являющимся руководителем этого направления:

BLOCK #24844525

TRANSFER |  
-- | --
From | utd-front
To | codename-art
Quantity | 2,400.00000 UTDEV.SKILL

Возобн контракта + рост на 20% (до 80% от макс. ставки), новая ставка

[2018-03-02 05:28] Arteg0r opened #74 "[Координация UT-Game #9/2018] Доработка отобранных идей"
[Предыдущая задача](https://github.com/u-transnet/info/issues/73)

На этой неделе оказался разорван домашними делами, будет справедливо в сумме посчитать ее как 3 дня: 26-27, 28, 1, сегодня день не учитываю. Поскольку отчетная задача тоже запоздала, прошу сразу ее закрывать после объявления работ:

- работали в рамках концептов Cities, AsteroidRush, Planets и Pioneers, подходим к подготовке презен

[2018-03-02 06:17] Arteg0r commented on #74
BLOCK #24868079

TRANSFER |  
-- | --
From | arteg0r
To | utd-architect-game
Quantity | 525.00000 UTDEV.SKILL

[2018-03-03 08:23] cptn-solo commented on #74
@Arteg0r
BLOCK #24900150

TRANSFER |  
-- | --
From | utd-architect-game
To | arteg0r
Quantity | 525.00000 UTDEV

[2018-03-03 08:23] #74 closed, assigned to Arteg0r

[2018-03-03 08:26] cptn-solo commented on #73
@Arteg0r
BLOCK #24900208

CREATE PROPOSAL |  
-- | --
Review period begin | —
Expiration time | March 4, 2018, 11:25:24 AM
Proposed operations | Transfer 700.00000 UTDEV from utd-architect-game to arteg0r

[2018-03-07 08:43] Arteg0r commented on #73
BLOCK #24907360

UPDATE PROPOSAL |  
-- | --
Fee paying account | bkmfk
Proposal object id | 1.10.8528
Active approvals to add | bkmfk

[2018-03-07 08:45] #73 closed, assigned to Arteg0r

[2018-03-08 15:36] cptn-solo commented on #38
@netral23 @alecvert @nat-brit рост через шаг, участие в проекте одно из самых активных
BLOCK #25051724

TRANSFER |  
-- | --
From | utd-front
To | superpchelka23
Quantity | 1750.00000 UTDEV.SKILL

70% от макс ставки, новая ставка 1750/20 = 87.5/д

[2018-05-15 21:53] #33 closed, assigned to LastWarrior, cptn-solo, EvgeniyPolyakov, plshapkin, nat-brit, alecvert, jackal1527, RomaRAD

[2018-05-15 21:53] #34 closed, assigned to cptn-solo, alecvert

[2018-05-15 21:53] #38 closed, assigned to cptn-solo, alecvert

[2018-05-15 21:53] #39 closed, assigned to KozlovaMyr

[2018-05-15 21:53] #40 closed, assigned to cptn-solo

[2018-05-15 21:53] #42 closed, assigned to nat-brit, alecvert, icggithub, NYalinski

[2018-05-15 21:53] #43 closed, assigned to cptn-solo, cheredin

[2018-05-15 21:53] #44 closed, assigned to NYalinski

[2018-05-15 21:53] #47 closed, assigned to cptn-solo, nat-brit, alecvert, Arteg0r

[2018-05-15 21:53] #49 closed, assigned to cptn-solo

[2018-05-15 21:53] #51 closed, assigned to Dima-Iron

[2018-05-15 21:53] #52 closed, assigned to cptn-solo

[2018-05-15 21:53] #56 closed, assigned to Dima-Iron

[2018-05-15 21:53] #57 closed, assigned to rossul

[2018-05-15 21:53] #59 closed, assigned to nobody

[2018-05-15 21:53] #60 closed, assigned to nat-brit

[2018-05-15 21:53] #63 closed, assigned to cptn-solo, nat-brit, alecvert, Dima-Iron

[2018-05-15 21:53] #64 closed, assigned to Dima-Iron

[2018-05-15 21:53] #71 closed, assigned to nobody

[2018-05-15 21:55] #2 closed, assigned to cptn-solo, alecvert

[2018-05-15 21:55] #3 closed, assigned to cptn-solo, alecvert

[2018-05-15 21:55] #4 closed, assigned to cptn-solo, alecvert, iSergeevich

[2018-05-15 21:55] #5 closed, assigned to iSergeevich

[2018-05-15 21:55] #6 closed, assigned to iSergeevich

[2018-05-15 21:55] #7 closed, assigned to iSergeevich

[2018-05-15 21:55] #8 closed, assigned to iSergeevich

[2018-05-15 21:55] #9 closed, assigned to iSergeevich

[2018-05-15 21:55] #10 closed, assigned to iSergeevich

[2018-05-15 21:55] #13 closed, assigned to cptn-solo, alecvert

[2018-05-15 21:55] #16 closed, assigned to nobody

[2018-05-15 21:55] #17 closed, assigned to cptn-solo, alecvert, icggithub

[2018-05-15 21:55] #20 closed, assigned to cptn-solo, alecvert

[2018-05-15 21:55] #21 closed, assigned to cptn-solo, alecvert, jackal1527

[2018-05-15 21:55] #22 closed, assigned to nobody

[2018-05-15 21:55] #23 closed, assigned to nobody

[2018-05-15 21:55] #29 closed, assigned to cptn-solo, alecvert

[2018-05-15 21:55] #31 closed, assigned to LastWarrior, cptn-solo, mklinkov, EvgeniyPolyakov, plshapkin, alecvert

[2018-05-15 21:55] #32 closed, assigned to cptn-solo, EvgeniyPolyakov, alecvert

[2018-05-15 22:00] #1 closed, assigned to cptn-solo, alecvert